<div class='feeds'>
    <h2>Subscribe</h2>
    <p>Get notifications when new letters or replies are posted!
    <table class='form'>
        {% if feed_author %}
        <tr>
            <th>
                Posts by {{ feed_author.profile }}:
            </th>
            <td>
                <a href='{% url blogs.blog_feed feed_author.pk %}'><img src='{{ STATIC_URL }}img/feed-icon-14x14.png' />RSS</a> 
            </td>
            <td>
                <a href='{% url subscriptions.author feed_author.pk %}'>email me</a>
            </td>
        </tr>
        {% endif %}
        {% if org and org.public %}
        <tr>
            <th>
                Posts from <em>{{ org.name }}</em>:
            </th>
            <td>
                <a href='{% url blogs.org_feed org.slug %}'><img src='{{ STATIC_URL }}img/feed-icon-14x14.png' />RSS</a>
            </td>
            <td>
                <a href='{% url subscriptions.org org.pk %}'>email me</a>
            </td>
        </tr>
        {% endif %}
        {% if comment_feed_obj %}
        <tr>
            <th>
                Comments on &#147;{{ comment_feed_obj }}&#148;:
            </th>
            <td>
                <a href='{% url blogs.post_comments_feed comment_feed_obj.pk %}'><img src='{{ STATIC_URL }}img/feed-icon-14x14.png' />RSS</a>
            </td>
            <td>

                <a href='{% url subscriptions.document comment_feed_obj.pk %}'>email me</a>
            </td>
        </tr>
        {% endif %}
        {% if tag %}
        <tr>
            <th>
                Posts tagged with &#147;{{ tag }}&#148;:
            </th>
            <td>
                <a href='{% url blogs.tagged_posts_feed tag %}'><img src='{{ STATIC_URL }}img/feed-icon-14x14.png' />RSS</a> 
            </td>
            <td>
                <a href='{% url subscriptions.tag tag %}'>email me</a>
            </td>
        </tr>
        {% endif %}
        <tr>
            <th>Featured posts:</th>
            <td>
                <a href='{% url blogs.tagged_posts_feed "featured" %}'><img src='{{ STATIC_URL }}img/feed-icon-14x14.png' />RSS</a> 
            </td>
            <td>
                <a href='{% url subscriptions.tag "featured" %}'>email me</a>
            </td>
        </tr>
        <tr>
            <th>
                All <em>{{ site.name }}</em> posts:
            </th>
            <td>
                <a href='{% url blogs.all_posts_feed %}'><img src='{{ STATIC_URL }}img/feed-icon-14x14.png' />RSS</a>
            </td>
        </tr>
    </table>
    </p>
</div>
