{% extends "profiles/base.html" %}

{% block title %}Add subscription{% endblock %}

{% block body %}

<h1>Add subscription</h1>
<p>Add a subscription to
{% if tag %}posts tagged &ldquo;{{ tag }}&rdquo;?{% endif %}
{% if author %}posts by {{ author.profile }}?{% endif %}
{% if document %}comments on &ldquo;{{ document.get_title }}&rdquo; by {{ document.author.profile }}?{% endif %}
{% if org %}posts from <em><a href='{{ org.get_absolute_url }}'>{{ org.name }}</a></em> authors{% endif %}
<form method='post' action=''>{% csrf_token %}<input type='submit' value='Sign me up!' /></form>
<a href='{% url subscriptions.settings %}'>Subscription settings</a>
</p>
{% if not user.email %}
<p>
Note: you have no email address set in your profile, so you will only see notifications by logging into the site.  If you'd like to receive email notifications, please <a href='{{ user.profile.get_user_edit_url }}'>add an email address</a> in your profile.
</p>
{% endif %}
{% endblock %}
