{% extends "profiles/base.html" %}
{% load i18n %}

{% block title %}{% trans "Add subscription" %}{% endblock %}

{% block body %}

<h1>{% trans "Add subscription" %}</h1>
<p>{% trans "Add a subscription to" %}
{% if tag %}{% trans "posts tagged" %} &ldquo;{{ tag }}&rdquo;?{% endif %}
{% if author %}{% trans "posts by" %} {{ author.profile }}?{% endif %}
{% if document %}{% trans "comments on" %} &ldquo;{{ document.get_title }}&rdquo; {% trans "by" %} {{ document.author.profile }}?{% endif %}
{% if org %}{% trans "posts from" %} <em><a href='{{ org.get_absolute_url }}'>{{ org.name }}</a></em> {% trans "authors" %}{% endif %}
<form method='post' action=''>{% csrf_token %}<input type='submit' value='{% trans "Sign me up!" %}' /></form>
<a href='{% url subscriptions.settings %}'>{% trans "Subscription settings" %}</a>
</p>
{% if not user.email %}
<p>
{% blocktrans %}
Note: you have no email address set in your profile, so you will only see notifications by logging into the site.  If you'd like to receive email notifications, please <a href='{{ user.profile.get_user_edit_url }}'>add an email address</a> in your profile.
{% endblocktrans %}
</p>
{% endif %}
{% endblock %}
