{% extends "site_base.html" %}
{% load url from future %}

{% load i18n %}

{% block head %}{{ block.super }}
{% endblock %}

{% block nav_about_active %}active{% endblock %}
{% block subnav %}
    <a href='{% url "about.community_guidelines" %}'>{% trans "Community Guidelines" %}</a>
    <a href='{% url "about.faq" %}'>{% trans "Frequently Asked Questions" %}</a>
    <a href='http://news.betweenthebars.org'>News</a>
    <a href='{% url "subscriptions.mailing_list_interest" %}'>Mailing list</a>
{% endblock %}
