{% extends "about/legal_base.html" %}
{% load i18n %}
{% block title %}{% trans "Copyright policy" %}{% endblock %}
{% block body %}
<div class='terms'>
<h2>{% trans "{{ site.name }} Copyright Policy" %}</h2>
<p>
{% blocktrans %}
The {{ site.name }} site, design, and content is copyrighted
<nobr>&copy;{% now "Y" %} {{ site.name }}</nobr>, all rights reserved.
{% endblocktrans %}
</p>
<p>
{% blocktrans %}
All blog posts and transcriptions of blog posts are owned and copyrighted by
the blog post authors, who retain all rights.  If you wish to reproduce any
blog post, you should seek permission of the original author by contacting them
directly.
{% endblocktrans %}
</p>
<p>
{% blocktrans %}
All comments are owned by the people who submit them, in accordance with the
<a href='{% url about.terms %}'>Terms of Use</a>.
{% endblocktrans %}
</p>
</div>
{% endblock body %}
