{% extends "about/about_base.html" %}
{% block title %}Community Guidelines{% endblock %}
{% block body %}

<div class='guidelines'>

{% blocktrans with site_email=site.email %}
<h1>Community Guidelines</h1>
<p>
Prison and crime are difficult subjects which impact people in very deep and
personal ways.  Emotions often run high and hot when dealing with those who
have caused harm to others, or who feel they have been wronged.  People in
prison often feel powerless and crushed by a system that does little to help
them, and victims of crimes often feel angry and vengeful toward those who hurt
them.  
</p>
<p>
These guidelines aim to help us foster a positive community to help
<em>everyone</em> involved by dealing with the issues in constructive ways.
</p>
<h2><a name='comments'></a>Guidelines for comments</h2>
<p>
We encourage you to engage with the difficult subject of incarceration openly
and honestly, and to leave comments that say what you feel.  But we ask you to
do so within these rules:
</p>
<p>
<ul class='bullets'>
    <li>No hate speech.</li>
    <li>No personal attacks.</li>
    <li>No illegal content.</li>
</ul>
</p>
<p>Instead:</p>
<p>
<ul class='bullets'>
    <li><em>Do</em> say how you feel (without attacking).</li>
    <li><em>Do</em> communicate honestly and factually.</li>
    <li><em>Do</em> challenge yourself to speak constructively.</li>
</ul>
</p>
<p>
Writers love receiving comments &ndash; they often have very little
opportunity to communicate with anyone in the outside world.  Even a simple
"thanks for your post" goes a long way.
</p>
<p>
If you notice any comment which violates these rules, don't hesitate to 
<a href='mailto:{{ site_email }}'>let us know</a> right away.
</p>

<h2><a name='transcriptions'></a>Guidelines for transcriptions</h2>
<p>
Transcriptions make posts more accessible to readers with visual disabilities,
search engines, and can help greatly in cases of difficult handwriting or poor
typewriters.  These style guidelines aim to help keep transcriptions consistent
and accurate.
</p>
<dl>
    <dt>Spelling errors</dt>
    <dd><p>
    Keep in mind that most people in prison are writing without the benefit of
    spell-checkers, without which most of us are hopeless.  That said, respect
    poetic license.  Fix the most obvious errors, but if there's any doubt
    about whether it was intentional, stay faithful to the original.
    </p></dd>
    <dt>Line breaks</dt>
    <dd><p> 
    If line breaks in the original are obviously structured (as in a poem or
    song), preserve the line breaks.  For regular prose and paragraphs, allow
    the lines to wrap within paragraphs.
    </p></dd>
    <dt>Illegible portions</dt>
    <dd><p>
    Occasionally, things get smudged, or the handwriting or typewriter doesn't
    read as clearly as it should.  Replace illegible parts within words with
    <em>[?]</em>, and longer sections or whole worlds with <em>[illegible]</em>.
    </p></dd>
    <dt>Annotations</dt>
    <dd><p>
    Add descriptions of photos, drawings, or other imagery in brackets, for example:
    </p>
    <blockquote>
    [Photo of a black man in his 30's wearing a white shirt, holding a small child]
    </blockquote>
    <p>
    If necessary for clarity, transcribers should add any additional notes
    needed to help a reader make sense of a transcription as a short note in
    brackets.  However, such notes should be kept to a minimum.
    </p>
    </dd>
</dl>

<p>
If you find a transcription that does not meet these guidelines, please boldly 
edit it and correct it.  If you have unanswered questions about transcribing, 
<a href='mailto:{{ site_email }}'>ask us</a>!
</p>

</div>
{% endblocktrans %}
{% endblock %}
