{% extends "about/legal_base.html" %}
{% load i18n %}
{% block title %}Privacy Policy{% endblock %}
{% block body %}


<div class='terms'>
<h2>
  {% blocktrans %}
  {{ site.name }} Privacy Policy
  {% endblocktrans %}
</h2>

<p><b>
    {% blocktrans %}
    PLEASE REVIEW BEFORE USING THIS WEBSITE – IF YOU DO NOT AGREE WITH ALL OF
    THE TERMS OF THE BTB PRIVACY POLICY, DO NOT USE THIS WEBSITE.
    {% endblocktrans %}
</b></p>
{% url home as url_home %}
      {% blocktrans %}
<p>
The following discloses the information gathering and dissemination
practices for the {{ site.name }} (“BtB”) website available at
<a href='{{ url_home }}'>{{ url_home }}</a> (the “Site”).
Your use of the Site constitutes your agreement to this privacy policy
and consent to the terms herein.
</p>

<p>
BtB reserves the right to modify the information contained herein from time to
time, with or without notice, so please check it regularly for any changes or
updates.  Your continued use of the Site after BtB has posted a modified
version of its privacy policy signifies your acceptance of the revised privacy
policy.
</p>

<h3>Information We Collect and How We Use It</h3>
<dl>
<dt>Normal Browsing</dt>
<dd><p>When you browse the Site, BtB collects data, including but
not limited to the public source IP address of the request, the domain name and
host from which the user accessed the Internet (e.g., aol.com), the user’s
browser software and operating system, the date and time the user accesses the
Site, web pages previously visited by the user, the web site to which the user
links after visiting our Site, and user queries submitted to the Site.  
</p>
<p>
We use this information to generate statistics and measure Site activity, which
helps us better understand our visitors and make the Site more useful to them.  
</p>
</dd>

<dt>Information You Provide</dt>  
<dd><p>In order to make any edits to the Site, including flagging offensive
content, accessing offensive content, writing or editing transcriptions,
posting comments to letters, and/or creating a user profile you will need to
register and create an account by providing an email address, username, and
password.  If you create an account, you may, but you are not required to
create a user profile by uploading a photo of yourself and/or providing a
description of yourself.  If you create an account, BtB collects and stores the
email address, username, and password that you provide as well as any
information you voluntarily provide in your profile.  BtB also collects and
stores information tied to all public content provided by users and user
activity on the Site.</p></dd>

<dt>BtB’s Disclosure of Your Information</dt>
<dd><p>Available log records, account information, and all data stored on our
servers may be accessed by our system administrators.  BtB may need to disclose
this information to law enforcement or other government officials for your
protection or in connection with an investigation of fraud, intellectual
property infringement, or other activity that is illegal or may expose us or
our users to legal liability, and as otherwise deemed reasonably necessary by
BtB.
</p>
<p>BtB also may provide aggregated, de-identified data or reports on user demographics and behavior to interested third parties, including but not limited to journals and academics.
</p>
<p>
Additionally, making edits to the Site is a public action, and all content may
be publicly visible.  Identification of all contributed content may include,
but is not limited to display of your username and any other information or
pictures that you provide in your profile.  All content may be retained for
restorative, archival, or research purposes by BtB.  All unsolicited
information shall be deemed to be non-confidential and BtB shall be free to
reproduce, use, disclose, and distribute such unsolicited information to others
without limitation or attribution.  Permissible distribution of your content
includes but is not limited to the sending of your comments by BtB to
prisoners.
</p></dd>
</dl>
<h3>Control of Your Password</h3>

<p>
You may not disclose your BtB password to any third parties nor share it with
any third parties.  If your password has been compromised for any reason, you
should immediately change your password.
</p>

<h3>Modification of Privacy Policy</h3>
<p>
BtB reserves the right to revise this privacy policy from time to time, with or
without notice, so please check it regularly for any changes or updates.  Your
continued use of the Site after BtB has posted a modified version of its
privacy policy signifies your acceptance of the revised privacy policy.
</p>

<h3>Contacting BtB</h3>
<p>
If you have any questions regarding this privacy policy, you can contact us by
emailing <a href='mailto:{{ site.email }}'>{{ site.email }}</a>.
</p>

<p>
Effective Date of the Agreement is 2010-11-15.
</p>
{% endblocktrans %}
</div>

{% endblock %}
