{% extends "about/legal_base.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Terms of Use" %}{% endblock %}
{% block body %}
<div class='terms'>
<h2>Between the Bars Terms of Use</h2>
<p><b>PLEASE REVIEW BEFORE USING THIS WEBSITE &ndash; IF YOU DO NOT AGREE TO THESE TERMS OF USE, DO NOT USE THIS WEBSITE.</b></p>
<h3>General</h3>
<p>
Welcome to Between the Bars (“BtB”).  BtB is a blog platform for prisoners
who have no or limited access to broadcast media.  Its mission is to facilitate
communication between prisoners and the public through our website available at
{{ base_url }} (“the Site”).
</p>

<p>
In order for BtB to operate this service effectively and responsibly, we have
created ground rules for using the Site, which are set out in this document
(the “Terms”).  By accessing, using, or contributing to the Site in any way,
you agree to abide by the Terms.  The Terms constitute a legally binding
Agreement between you and BtB.  
</p>

<p>
BtB may modify the Terms from time to time, at BtB’s discretion, and such
modifications shall be effective upon posting by BtB on the Site.  Your
continued use of the Site after BtB posts revised Terms signifies your
acceptance of the revised Terms.  It is therefore important that you review the
Terms regularly to ensure you are updated as to any changes.  
</p>

<p>
We appreciate your understanding and are happy to answer any questions you have
about these Terms. 
</p>

<p>
The following Terms apply to the Site and its services:
</p>

<h3>Disclaimer and Waiver of Certain Damages</h3>
<p>
THE SITE AND CONTENT AND SERVICES OFFERED AT, THROUGH, OR IN CONNECTION WITH
THE SITE ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT WARRANTIES
OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO WARRANTIES
OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR
OTHERWISE. WITHOUT LIMITATION, WE DISCLAIM ANY AND ALL WARRANTIES REGARDING THE
SECURITY, RELIABILITY, TIMELINESS AND PERFORMANCE OF THE SERVICES OFFERED. WE
MAKE NO WARRANTY, EXPRESS OR IMPLIED, THAT THE BTB SITE, THE CONTENT ON THE
SITE, AND THE SERVICES WILL BE UNINTERRUPTED, TIMELY OR ERROR-FREE. SOME
JURISDICTIONS DO NOT ALLOW THE DISCLAIMER OF CERTAIN WARRANTIES, SO SOME OF THE
ABOVE DISCLAIMER MAY NOT APPLY TO YOU.
</p>
<p>
TO THE EXTENT NOT PROHIBITED BY APPLICABLE LAW, IN NO EVENT SHALL BTB BE LIABLE
FOR ANY DIRECT, INDIRECT, SPECIAL, OR CONSEQUENTIAL DAMAGES, REGARDLESS OF THE
NATURE OF THE CLAIM OR THE FORM OF ACTION, ARISING FROM THE CONTENT ON THE
SITE, THE SERVICES, OR THE SITE, WHETHER OR NOT WE SHALL HAVE HAD ANY
KNOWLEDGE, ACTUAL OR CONSTRUCTIVE, THAT SUCH DAMAGES MIGHT BE INCURRED.
</p>

<h3>Eligibility</h3>
<p>
You must be 18 years of age or older to use this Site.  By using the Site, you
represent and warrant that you are 18 years of age or older.  
</p>

<h3>Account, Password and Security</h3>
<p>
You may create an account with BtB by providing a username and password.
Creating an account will allow you to create a user profile and make
contributions to the Site, including but not limited to posting comments and
participating in the transcription process.  Through the transcription process,
accountholders may transcribe posted letters from the prisoners, and/or edit
existing transcriptions to correct errors.  
</p>

<p>
You are solely responsible for maintaining the confidentiality and security of
your password(s) and accounts(s).  You are entirely responsible for all
activities that occur on or through your account(s).
</p>

<p>
Users are prohibited from violating or attempting to violate the security of
the Site, including, without limitation, (a) accessing data not intended for
such user or logging into a server or account which the user is not authorized
to access, (b) attempting to probe, scan or test the vulnerability of a system
or network or to breach security or authentication measures without proper
authorization, (c) attempting to interfere with service to any user, host or
network, including, without limitation, via means of submitting a virus to the
Site, overloading, "flooding," "spamming," "mailbombing" or "crashing," (d)
sending unsolicited e-mail, including promotions and/or advertising of products
or services, or (e) forging any TCP/IP packet header or any part of the header
information in any e-mail or newsgroup posting. Violations of system or network
security may result in civil or criminal liability. You agree that it is your
responsibility to install anti-virus software and related protections against
viruses, Trojan horses, worms, time bombs, cancelbots or other computer
programming routines or engines that are intended to damage, destroy, disrupt
or otherwise impair a computer’s functionality or operation.
</p>

<h3>Creating Profiles and Posting Comments</h3>
<p>
Accountholders can create user profiles by adding descriptions and/or uploading
photos.  They can also post comments to the prisoners’ letters.  You alone are
responsible for all content you add to the Site, including but not limited to
the information and photos in your profile and the content in your posts.  You
agree not to post content that includes any defamatory, abusive, obscene,
threatening or illegal material, or any other material that infringes on the
ability of others to enjoy the Site or that infringes on the rights of others.
</p>
<p>
BtB cannot and does not review every profile or posting made on the Site.  You
should expect the Site to include information and opinions from a variety of
individuals and organizations other than BtB.  BtB does not endorse or
guarantee the accuracy of any posting, regardless of whether the posting comes
from a prisoner, a web site user, a guest, or a member of our staff.
</p>
<p>
Although BtB cannot monitor all profiles and postings, BtB reserves the right
(though not the obligation) to delete, move, or edit any profile content or
postings for any reason whatsoever.
</p>
<h3>Transcription</h3>
<p>
An accountholder can prepare transcriptions of the prisoners’ posted letters.
An accountholder can also edit an existing transcription in order to correct
errors.  You agree not to make changes to a transcription that is already
accurate.  
</p>

<p>
By transcribing a prisoner’s letter, you represent and warrant that you are
accurately transcribing the content of the prisoner’s letter.  By making edits
to a transcription, you represent and warrant that the edits are accurate.  BtB
does not endorse or guarantee the accuracy of any transcription.
</p>

<p>
BtB reserves the right to lock transcription forms to prevent any further edits
to a prisoner’s letter.  BtB also reserves the right (though not the
obligation) to delete, move, or edit any transcriptions that BtB considers
unacceptable or inappropriate, whether for legal or other reasons.
</p>

<h3>Privacy</h3>
<p>
BtB respects the privacy of our users.  BtB’s Privacy Policy is expressly
incorporated herein by reference and made a part of the Terms.  The Privacy
Policy is located at 
<a href='{% url "about.privacy" %}'>{{ base_url }}{% url "about.privacy" %}</a>.
</p>
<h3>Termination of Account</h3>
<p>
You may terminate your account via the link on your profile page.  
</p>

<p>
BtB reserves the right to terminate your account(s), to restrict your access to
your account(s), and/or to delete any content posted through your account(s),
with or without notice, for any or for no reason, and without any liability to
you.  The license granted to BtB by you in any and all content furnished by you
to the Site is irrevocable and survives after termination of your account.
</p>
<p>
If you decide to terminate your account, you may opt to delete the comments you
have posted to the Site.  If you wish to delete your comments, you must do so
at the time you terminate your account.  Once your account is terminated, you
will lose the ability to perform any authenticated functions on the Site,
including the ability to delete your comments.
</p>
<p>
<h3>Prohibited Site Usage</h3>
<p>
The Site and/or any portion of the Site may not be reproduced, duplicated,
copied, sold, resold, visited or otherwise exploited for any commercial purpose
without our express written consent, except for such reproduction as occurs in
the normal course of reading or viewing the Site using a Web browser. We do not
permit any resale or commercial use of the Site or its contents; any derivative
use of the Site or its contents; or any use of data mining, robots, or similar
data gathering and extraction tools.
</p>

<h3>Parental Notice</h3>
<p>Pursuant to 47 U.S.C. Section 230(d) as amended, BtB hereby notifies you
that parental control protections (such as computer hardware, software, or
filter services) are commercially available that may assist you in limiting
access to material that is harmful to minors. Information identifying current
providers of such protection is available on the Internet (e.g., 
<a href='http://en.wikipedia.org/wiki/List_of_content-control_software'>http://en.wikipedia.org/wiki/List_of_content-control_software</a>).
</p>

<h3>Intellectual Property</h3>
<p>
By furnishing content to the Site, you grant BtB a non-exclusive, royalty-free,
perpetual, and worldwide license to, among other things, copy, distribute,
transmit, publicly display, reproduce, edit, transcribe, translate, and
reformat the content you furnish, and/or to incorporate the content you furnish
into a collective work.  This license also allows BtB to, among other things,
periodically print your comments and send the comments to prisoners.  This
license is perpetual and applies even after a user’s account has been
terminated to content submitted by the user before termination of the account.
Subject only to the rights granted to BtB under this license, you retain
ownership of the copyrights and all other rights in the content furnished by
you.
</p>
<h3>Representations and Warranties of Web Site User</h3>
<p>
By submitting content to the Site, you represent and warrant, with respect to
all content furnished by you, that you submit to BtB, as follows:
</p>

<ol>
<li>You are the sole author of all content, and all content is original to
you.</li>
<li>You have the right to submit the content to BtB and to grant BtB the rights
set forth herein.</li>
<li>The content does not violate or constitute the infringement of any patent,
copyright, trademark, trade secret, right of privacy, right of publicity, moral
right, or other intellectual property right or other right of any person or
entity.</li>
<li>The content, your submission of the content to BtB, and the posting of the
content online do not violate the rights of any person or entity or any state
or federal law or regulation.</li>
<li>The content does not contain any threatening, harassing, libelous, false,
defamatory, offensive, obscene, or pornographic material, or other material
that would violate any other applicable law or regulation.</li>
</ol>

<p>
By submitting content to BtB, you acknowledge and agree that such content may
be posted on the BtB website and made publicly available to anyone who wishes
to view the content.  You acknowledge and agree that BtB shall have no
responsibility, liability, or obligation to you with regard to the content
submitted, its protection, its use or misuse in any way whatsoever by any
entity, including but not limited to BtB itself.  You acknowledge and agree
that BtB will in no event be liable for the editing, removal or disabling of
access to any content under the Terms.
</p>

<h3>Digital Millenium Copyright Act/Copyright Infringement and Notification Policy</h3>
<p>
We respect the intellectual property of others.  If you believe that your
copyrighted materials have been copied in a way that constitutes copyright
infringement, please follow the procedure set forth in our Digital Millennium
Copyright Act Notice Policy, which is located at 
<a href='{% url "about.dmca" %}'>{{ base_url }}{% url "about.dmca" %}</a> and is
expressly incorporated herein by reference and made a part of the Terms.
</p>
<h3>Termination of Service</h3>
<p>
BtB disclaims all responsibility and liability for the availability,
timeliness, security or reliability of BtB’s services or Site, or any software
provided through the Site. BtB reserves the right to modify, suspend, or
discontinue the services or access to the Site without any notice at any time
for any reason and without any liability to you.
</p>
<h3>No Waiver of Terms</h3>
<p>
Failure of BtB to exercise or enforce any right or provision of these Terms
shall not be deemed a waiver of such right or provision in that or any other
instance.
</p>
<h3>Indemnity</h3>
<p>
You agree to indemnify and hold harmless BtB, its affiliates, subsidiaries,
officers and directors, agents, employees and partners, and any parties with
whom BtB may contract to provide its services, from any third party claim or
demand, including reasonable attorneys’ fees for damages and/or costs due to or
arising out of your breach of your obligations under this the Terms. 
</p>
 
<h3>Severability</h3>
<p>
If any provision of the Terms shall be deemed unlawful, void, or for any reason
unenforceable, then that provision shall be deemed severable from these terms
and conditions and shall not affect the validity and enforceability of any
remaining provisions.
</p>

<h3>Governing Law and Entire Agreement</h3>
<p>These Terms are governed by the laws of the Commonwealth of Massachusetts,
without regard to the rules of conflict of law that may cause the laws of
another jurisdiction to apply. You agree to the sole and exclusive jurisdiction
and venue of the federal or state courts serving Massachusetts in the event of
any dispute of any kind arising from or relating to the Site or Services, or
your use or review of it.  The Terms constitute the entire agreement between
the parties with respect to the subject matter hereof and supersedes and
replaces all prior or contemporaneous understandings or agreements, written or
oral, regarding such subject matter. If for any reason a court of competent
jurisdiction finds any provision or portion of these Terms to be unenforceable,
the remainder of the Terms will continue in full force and effect.
</p>

<p>
Effective Date of the Agreement is 2010-11-15.
</p>

</div>
{% endblock %}
