{% extends "site_base.html" %}
{% load i18n %}
{% block title %}{% trans "Edit comment" %} {% endblock %}
{% block body %}
<h2>{% trans "Edit comment" %}</h2>
<p>
  {% url "about.community_guidelines" as guidelines_url %}
  {% blocktrans %}
  Please consider our <a href='{{ guidelines_url }}'>guidelines</a> while writing.
  {% endblocktrans %}
</p>
    <form method='post' action=''>{% csrf_token %}
        <div style='float: left;'>
            {% if form.comment.errors %}
                <p>{{ form.comment.errors }}</p>
            {% endif %}
            {{ form.comment }}
            <div style='text-align: right;'>
                <input type='submit' value='{% trans "Save changes" %}' />
            </div>
            <div style='clear: both;'></div>
        </div>
    </form>
{% endblock %}
