{% extends "site_base.html" %}
{% load firstof from future %}
{% block title %}Remove comment{% endblock %}

{% block css %}
  <style type='text/css'>
    .faux-email {
      background-color: #eee;
      font-family: monospace;
      font-size: 12px;
      line-height: 1.2;
    }
    .faux-letter {
      background-color: white;
      font-family: serif;
      font-size: 14px;
      line-height: 1.2;
      padding: 2em;
      box-shadow: 0px 0px 5px #000;
    }
    .faux-letter .sig {
      position: relative;
      left: 20%;
    }
    .faux-letter .to-address {
      white-space: pre;
      margin-bottom: 2em;
    }
  </style>
{% endblock %}

{% block body %}
{% with org=comment.document.author.organization_set.get %}

<h1>Remove Comment</h1>
  {% if removal.pk %}
    <p>
      <b>This comment has been removed.</b> You can edit the messages that haven't been sent below.
      Changed your mind? <a href='{% url "comments.moderator_unremove" comment.pk %}'>Restore (unremove) this comment</a>.
    </p>
  {% else %}
    <p>Remove the following comment by <em>{{ comment.user.profile }}</em>? (If this is spam, use <a href='{% url "comments.spam_can_comment" comment.pk %}'>this form</a> instead)</p>
  {% endif %}

  <p>posted <a href='{{ comment.get_absolute_url }}'>{{ comment.created|date }}</a> on
            <a href='{{ comment.document.get_absolute_url }}'>{{ comment.document.get_title }}</a> by
            <a href='{{ comment.document.author.profile.get_blog_url }}'>{{ comment.document.author.profile }}</a></p>
    <blockquote>
      {{ comment.comment|linebreaks }}
    </blockquote>


  <form method='post' action=''>{% csrf_token %}
    {{ form.comment }} {# hidden #}

    <hr>
    <h2>{{ form.reason.label }}</h2>
    <p class='help-text'>What is the reason for removing this comment? This will set defaults for the notification messages as well.</p>
    {{ form.reason }} {% if perms.change_removalreason %}<a href='/admin/comments/removalreason/'>edit reasons</a>{% endif %}
    <h2>{{ form.web_message.label }}</h2>
    {% if form.comment_author_message.errors %}
      <div class='error'>
        {{ form.comment_author_message.errors }}
      </div>
    {% endif %}
    <p>If blank, no removal message will appear on the web.</p>
    {{ form.web_message }}


    <hr>
    <h2>{% firstof form.comment_author_message.label "Comment author message" %}</h2>
    {% if form.comment_author_message.errors %}
      <div class='error'>
        {{ form.comment_author_message.errors }}
      </div>
    {% endif %}
    {% if not comment.user.email %}
      Comment has no email address; no message can be sent.
    {% else %}
      {% if commenter_notified %}
        <em>The author has already been notified; this can't be changed</em>
      {% else %}
        <p>If left blank, the comment author will not be notified.</p>
      {% endif %}
      <div class='faux-email'>
        <b>To:</b> {{ comment.user.email }}<br />
        <b>Subject:</b> {% include "comments/removal-email-subject.txt" %}
        <br /><br />
        {% with current_site=site recipient=comment.user %}
          {% if commenter_notified %}
            {% with message=removal.comment_author_message %}
              <div style='white-space: pre-wrap'>{% include "comments/removal-email-body.txt" %}</div>
            {% endwith %}
          {% else %}
            {% with message=form.comment_author_message %}
              <div style='white-space: pre-wrap'>{% include "comments/removal-email-body.txt" %}</div>
            {% endwith %}
          {% endif %}
        {% endwith %}
      </div>
    {% endif %}


    <hr>
    <h2>{% firstof form.post_author_message.label "Post author message" %}</h2>
    {% if form.post_author_message.errors %}
      <div class='error'>
        <h3>
          There was an error with the message body below; we couldn't
          compile it into a letter.
        </h3>
        <p>The cryptic error message we got was:</p>
        <pre>{{ form.post_author_message.errors }}</pre>
        <br />
        <p>Usually, errors are the result of special characters like &amp;, _, or % &ndash; try putting a "\" before them (e.g. \&amp;, \_, \%).  Contact <a href='mailto:info@betweenthebars.org'>info@betweenthebars.org</a> if you don't understand how to fix this.</p>
      </div>
    {% endif %}
    {% if blogger_notified %}
      <p><em>The post author has already been notified; this field can't be changed:</em></p>
    {% else %}
      <p>If blank, no message will be sent to post author.  Format is raw <a href='https://en.wikipedia.org/wiki/LaTeX'>LaTeX</a>.</p>
    {% endif %}

    <div class='faux-letter'>
      <div class='to-address'>{{ comment.document.author.profile.full_address }}</div>
      <p>Greetings,</p>
      <br />
      <div style='white-space: pre-wrap;'>{% spaceless %}
        {% if blogger_notified %}
          <span class='post-author-message'>{% filter force_escape %}{% include "correspondence/_comment-removal-body.tex" with message=removal.post_author_message %}{% endfilter %}</span>
        {% else %}
          <span class='post-author-message'>{% include "correspondence/_comment-removal-body.tex" with message=form.post_author_message %}</span>
        {% endif %}
      {% endspaceless %}</div>
      <br />
      <div class='sig'>Sincerely, <br /><br /> {{ org.personal_contact }}</div>
      <br />
      <br />
      {% if not blogger_notified and perms.correspondence.manage_correspondence %}
        <iframe id="letter_preview" src="{% url "correspondence.comment_removal_letter_preview_frame" comment.pk %}"></iframe>
        <div><a href='#' class='preview-letter'>Preview rendered letter</a></div>
      {% endif %}
    </div>
    <div>
      <input type='submit' value='Remove comment and send notifications' class='anchor-button' />
    </div>
  </form>


{% endwith %}
{% endblock %}
{% block scripts %}
<script type='text/javascript'>
  var reasons = {{ reasons_json|safe }};
  $("#id_reason").on("change", function(event) {
    var val = $(event.currentTarget).val();
    var reason = reasons[parseInt(val)];
    if (reason) {
      $("#id_web_message").val(reason.default_web_message);
      $("#id_comment_author_message").val(reason.default_comment_author_message);
      $("#id_post_author_message").val(reason.default_post_author_message);
    } else {
      $("#id_web_message, #id_comment_author_message, #id_post_author_message").val("");
    }
  });
  var iframe = document.getElementById("letter_preview");
  $(iframe).on("load", function() {
    iframe.height = iframe.contentWindow.document.body.scrollHeight;
    iframe.width = iframe.contentWindow.document.body.scrollWidth;
  });
  $(".preview-letter").on("click", function(event) {
    (event).preventDefault();
    $("[name=body]", iframe.contentWindow.document).val(
      $("#id_post_author_message").val());
    $("form", iframe.contentWindow.document).submit();
  });

</script>

{% endblock %}
