
{% extends "site_base.html" %}
{% load i18n %}

{% block title %}{% trans "Unremove comment" %}{% endblock %}

{% block body %}
<h1>{% trans "Unremove Comment" %}</h1>

<p>
{% blocktrans with removal_date=removal.date|date %}
Restore the following comment, which was removed on {{ removal_date }}?
{% endblocktrans %}
</p>

<p>
  {% blocktrans with comment_url=comment.get_absolute_url comment_document_url=comment.document.get_absolute_url comment_date=comment.created|date comment_title=comment.document.get_title comment_blog_url=comment.document.author.profile.get_blog_url comment_author_profile=comment.document.author.profile }
  posted <a href='{{ comment_url }}'>{{ comment_date }}</a> on 
         <a href='{{ comment_document_url }}'>{{ comment_title }}</a> by
         <a href='{{ comment_blog_url }}'>{{ comment_author_profile }}</a>
  {% endblocktrans %}
</p>
  <blockquote>
    {{ comment.comment|linebreaks }}
  </blockquote>

<form method='post' action=''>{% csrf_token %}
  <input class='anchor-button' type='submit' value='{% trans "Restore comment" %}' />
</form>

{% endblock %}
