
{% extends "site_base.html" %}
{% load i18n %}

{% block title %}{% trans "Unremove comment" %}{% endblock %}

{% block body %}
<h1>{% trans "Unremove Comment" %}</h1>

<p>
{% blocktrans with removal_date=removal.date|date %}
Restore the following comment, which was removed on {{ removal_date }}?
{% endblocktrans %}
</p>

<p>posted <a href='{{ comment.get_absolute_url }}'>{{ comment.created|date }}</a> on 
          <a href='{{ comment.document.get_absolute_url }}'>{{ comment.document.get_title }}</a> by
          <a href='{{ comment.document.author.profile.get_blog_url }}'>{{ comment.document.author.profile }}</a></p>
  <blockquote>
    {{ comment.comment|linebreaks }}
  </blockquote>

<form method='post' action=''>{% csrf_token %}
  <input class='anchor-button' type='submit' value='{% trans "Restore comment" %}' />
</form>

{% endblock %}
