{% extends "profiles/groups_base.html" %}
{% block title %}Partner organizations{% endblock %}
{% block body %}
<div class='partners-page'>

<table>
    <tr>
        <td class='group-links'>
            <ul>
                <li {% if not chosen_org %}class='active'{% endif %}><a href='{% url profiles.org_list %}'>Join</a></li>
                <li>Partners:</li>
            {% for org in orgs %}
                <li {% if org.name == chosen_org.name %}class='active'{% endif %}>
                    {# We don't use get_absolute_url here because independent org doesn't have one #}
                    <a href='{% url profiles.org_detail org.slug %}'>{{ org.name }}</a>
                </li>
            {% endfor %}
            </ul>
        </td>
        <td class='about'>
            {% block about_group %}
            <h2>{{ site.name }} partners program</h2>
            <p>
            Do you know someone in prison who would like to blog? Between the
            Bars grows through the support of volunteers around the world who
            help to facilitate blogging. All you need to get started is access
            to a scanner so that you can scan letters you receive, and to be
            willing to make a commitment to the people you'll be representing.
            </p>

            <p>
            For organizations with multiple writers, Between the Bars can set
            up a partner page to draw traffic and attention to your writers,
            and represent your organization and its mission.
            </p>

            <p>
            If you are an individual or organization that is interested in
            making a commitment to help people in prison express themselves,
            please contact us at <a
            href='mailto:info@betweenthebars.org'>info@betweenthebars.org</a>.
            </p>
            {% endblock %}
        </td>
    </tr>
</table>
</div>
{% endblock %}
