{% extends "profiles/groups_list.html" %}
{% load humanize %}

{% block title %}Partners: {{ chosen_org.name }}{% endblock %}
{% block about_group %}
<h2>{{ chosen_org.name }}</h2>

{% if chosen_org.slug == "independent" %}
    <p>The following are independent writers, supported by independent volunteers and staff for {{ site.name }}:</p>
{% else %}
    {{ chosen_org.about|safe }}
    <p>The following writers are represented by {{ chosen_org.name }}:</p>
{% endif %}
<ul class='partners-user-list'>
{% for profile in profiles %}
    <li>
        {% if profile.authored_posts_count > 0 %}
            <a href='{{ profile.get_blog_url }}'>{{ profile }}</a> &ndash;
            {{ profile.authored_posts_count }} posts; 
            latest {{ profile.latest_post|naturalday }}.
        {% else %}
            {{ profile }}
        {% endif %}
        {% if profile.has_public_profile %}
            <a href='{{ profile.get_absolute_url }}'>profile</a>
        {% endif %}
    </li>
{% endfor %}
</ul>

{{ chosen_org.footer|safe }}

{% endblock %}



