{% extends "profiles/base.html" %}
{% load public_url %}
{% load i18n %}

{% block title %}
  {% blocktrans %}
    Edit profile for {{profile.display_name}}
  {% endblocktrans %}
{% endblock %}
{% block extra_head %}{{ form.media }}{% endblock %}

{% block body %}
<h1>
  {% blocktrans %}
    Profile for {{profile.user.profile.display_name}}
  {% endblocktrans %}
</h1>
{% if can_edit_user %}
<p><a href='{% url mod_change_password profile.user.id %}'>{% trans "Change password" %}</a>,
   <a href='{% url subscriptions.settings %}'>{% trans "Email subscriptions" %}</a></p>
{% endif %}
<form enctype='multipart/form-data' method='POST' action=''>{% csrf_token %}
<div>
    <table class='form'>
        {{ profile_form.as_table }}
        {{ user_form.as_table }}
        {{ scan_upload_form.as_table }}
    </table>
</div>
<div>
    <input type='submit' value='{% trans "Save details" %}'/> <a href='{% url profiles.profile_show profile.pk %}'>{% trans "cancel" %}</a>
</div>
</form>
<br />
{% if document %}
    <h2>{% trans "Current profile page" %}:</h2>
    <p><a href='{% url profiles.remove_scan profile.pk %}'>{% trans "Remove scan" %}</a></p>
    {% for page in document.documentpage_set.all %}
        <img src='{{ page.image.url|public_url }}' alt='{% trans "Profile for" %} {{ profile.display_name }}' /><br />
    {% endfor %}
{% endif %}
{% if document.transcription %}
    <h2>{% trans "Transcription" %}</h2>
    <p><a href='{% url scanning.transcribe_document document.pk %}'>{% trans "edit" %}</a></p>
    {{ document.transcription.current.body|linebreaksbr }}
{% endif %}
<br />
<a href='{% url profiles.delete profile.pk %}'>{% trans "Delete account" %}</a>
{% endblock %}
