django>=1.4.1
psycopg2
-e hg+http://bitbucket.org/ubernostrum/django-registration#egg=django-registration
Celery
django-celery
pyPdf
PIL
fabric
django-bcrypt
-e git+https://github.com/ahupp/python-magic#egg=magic
django_compressor
sorl-thumbnail
python-memcached
-e git+https://github.com/yourcelf/django-notification@master#egg=django-notification
django-pagination
django-urlcrypt
South
pyyaml
django-debug-toolbar
reportlab
# Due to these bugs:
#  * https://code.google.com/p/selenium/issues/detail?id=4603
#  * https://code.google.com/p/selenium/issues/detail?id=3736
# We need pinned versions of selenium and firefox.  Have found selenium 2.20,
# and firefox 10.0 to work properly.  Specify the firefox binary to use in
# settings.SELENIUM_FIREFOX_BIN
selenium<=2.20
