django>=1.4.1
psycopg2
-e hg+http://bitbucket.org/ubernostrum/django-registration#egg=django-registration
Celery
django-celery
pyPdf
PIL
amqplib
fabric
django-bcrypt
-e git+https://github.com/ahupp/python-magic#egg=magic
lettuce
django_compressor
sorl-thumbnail
python-memcached
-e git+https://github.com/yourcelf/django-notification@master#egg=django-notification
django-pagination
django-urlcrypt
South
pyyaml
django-debug-toolbar
reportlab
selenium<=2.20 # Due to this bug: https://code.google.com/p/selenium/issues/detail?id=3736
pytz
