django>=1.8.14,<1.9
psycopg2
django-registration-redux==1.4

# Celery
Celery
django-celery
amqp
anyjson

pyPdf
pillow
fabric
python-magic
django_compressor
sorl-thumbnail==12.3
python-memcached
-e git+https://github.com/yourcelf/django-notification.git@btb#egg=django_notification
django-pagination
-e git+https://github.com/yourcelf/django-urlcrypt.git#egg=django_urlcrypt
pyyaml
reportlab
selenium
pytz
django-localflavor
django-debug-toolbar
-e git+https://github.com/jmoiron/johnny-cache.git#egg=johnny_cache
requests

# Extra parts for requests to survive old python SSL issues
urllib3
pyopenssl
ndg-httpsclient
pyasn1
