{% extends "site_base.html" %}
{% load thumbnail %}
{% load public_url %}
{% load i18n %}

{% block title %}{% trans "Human Stories from Prison" %}{% endblock %}

{% block nav_logo_icon %}{% endblock %}
{% block nav_home_text %}{% trans "Home" %}{% endblock %}

{% block body %}
<div class='titlepage'>
    <img src='{{ STATIC_URL }}img/v2-nadya-medium.png' alt='{{ site.name }}' />
    <h1>{{ site.name }}</h1>
    <h2>{% trans "Human stories from prison" %}</h2>
    <div style='clear: both;'></div>
    <div class='about'>
        {{ site.name }}
	{% trans "is a weblog platform for people in prison, through which the 1% of Americans who are in prison can tell their stories. Leave a comment &ndash; we'll pass it on." %}
    </div>
</div>
<div class='news-blurbs'>
    <div class='blurb'>
        <blockquote>{% trans "... can only help us become a more compassionate, safer society." %}</blockquote>
        <a href='http://www.bostonmagazine.com/news/blog/2012/11/29/massachusetts-prisoner-blog/'>bostonmagazine.com</a>
    </div>
    <div class='blurb'>
        <blockquote>{% trans "... encourages inmates to retain their individual identities ..." %}</blockquote>
        <a href='http://www.technewsdaily.com/new-site-helps-inmates-blog-from-behind-bars-2605/'>technewsdaily.com</a>
    </div>
    <div class='blurb'>
        <blockquote>{% trans "Amazing stuff." %}</blockquote>
        <a href='http://chrisuggen.blogspot.com/2010/11/between-bars.html'>Christopher Uggen</a>,
        {% trans "criminologist" %}
    </div>
</div>
<div class='featured'>
<div class='featured-posts'>
    <h2>{% trans "Featured posts" %}</h2>
    <div class='slideshow'>
        <div class='slides_container'>
            {% for doc in featured %}
                <div class='slide'>
                    {% with page=doc.documentpage_set.all.0 %}
                        {% thumbnail page.image.path "400" as im %}
                          <a href='{{ doc.get_absolute_url }}'><img src='{{ im.url|public_url }}' width='{{ im.x }}' height='{{ im.y }}' alt='{% trans "scanned page" %}' /></a>
                        {% endthumbnail %}
                    {% endwith %}
                    <div class='caption'>
                        {% if doc.title %}
                            {{ doc.title }},
                        {% endif %}
                        {% trans "by" context "indicate authorship" %} <a href='{{ doc.author.profile.get_blog_url }}'>{{ doc.author.profile }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class='recent-comments'>
    <h2>{% trans "Recent comments" %}</h2>
    {% for comment in comments %}
    <div class='comment'>
        <div class='date'>{{ comment.created|timesince }} {% trans "ago" context "time since" %}</div>
        <div class='excerpt'>&#147;<span class='quote'>{{ comment.comment|truncatewords:"20" }}</span>&#148;</div>
        <span class='author'>{% trans "By" context "indicate authorship"%} {{ comment.user.profile }}</span>
          {% trans "on" context "commented on" %} <span class='doc-title'><a href='{{ comment.document.get_absolute_url }}'>{{ comment.document.get_title }}</a></span>
    </div>
    {% endfor %}

</div>
</div>
<div style='clear: both; margin-bottom: 2em;'></div>
<div class='title-closing'>
    <h2>{% trans "Join the conversation!" %}</h2>
    {% url "blogs.home" as blogs_url %}
    <p>{% blocktrans %}Head on over to the <a href='{{ blogs_url }}'>blogs</a>.{% endblocktrans %}</p>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/slides.min.jquery.js"></script>
<script type="text/javascript">
    $(".slideshow").slides({
        preload: true,
        preloadImage: "{{ STATIC_URL }}img/spinner.gif",
        play: 5000,
        pause: 2500,
        hoverPause: true,
        animationStart: function(current) {
            $('.caption').animate({
                bottom: -35
            }, 100);
        },
        animationComplete: function(current) {
            $('.caption').animate({
                bottom: 0
            }, 200);
        },
        slidesLoaded: function() {
            $(".slideshow .pagination a").html("&bull;");
            $('.caption').animate({
                bottom: 0
            }, 200);
        }
    });
</script>
{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block site_banner %}<!-- suppress it -->{% endblock %}
