{% extends "site_base.html" %}
{% load thumbnail %}
{% load public_url %}

{% block title %}Human Stories from Prison{% endblock %}

{% block nav_logo_icon %}{% endblock %}
{% block nav_home_text %}Home{% endblock %}

{% block body %}
<div class='titlepage'>
    <img src='{{ STATIC_URL }}img/v2-nadya-medium.png' alt='{{ site.name }}' />
    <h1>{{ site.name }}</h1>
    <h2>Human stories from prison</h2>
    <div style='clear: both;'></div>
    <div class='about'>
        {{ site.name }} is a weblog platform for people in prison, through
        which the 1% of Americans who are in prison can tell their stories.
        Leave a comment &ndash; we'll pass it on.
    </div>
</div>
<div class='news-blurbs'>
    <div class='blurb'>
        <blockquote>Gives voice to the voiceless.</blockquote>
        <a href='http://news.change.org/stories/between-the-bars-gives-voice-to-the-voiceless'>Change.org</a>
    </div>
    <div class='blurb'>
        <blockquote>... encourages inmates to retain their individual identities ...</blockquote>
        <a href='http://www.technewsdaily.com/new-site-helps-inmates-blog-from-behind-bars-2605/'>technewsdaily.com</a>
    </div>
    <div class='blurb'>
        <blockquote>Amazing stuff.</blockquote>
        <a href='http://chrisuggen.blogspot.com/2010/11/between-bars.html'>Christopher Uggen</a>, criminologist
    </div>
</div>
<div class='featured'>
<div class='featured-posts'>
    <h2>Featured posts</h2>
    <div class='slideshow'>
        <div class='slides_container'>
            {% for doc in featured %}
                <div class='slide'>
                    {% with page=doc.documentpage_set.all.0 %}
                        {% thumbnail page.image.path "400" as im %}
                            <a href='{{ doc.get_absolute_url }}'><img src='{{ im.url|public_url }}' width='{{ im.x }}' height='{{ im.y }}' alt='scanned page' /></a>
                        {% empty %}
                            OH NO
                        {% endthumbnail %}
                    {% endwith %}
                    <div class='caption'>
                        {% if doc.title %}
                            {{ doc.title }},
                        {% endif %}
                        by <a href='{{ doc.author.profile.get_blog_url }}'>{{ doc.author.profile }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class='recent-comments'>
    <h2>Recent comments</h2>
    {% for comment in comments %}
    <div class='comment'>
        <div class='date'>{{ comment.created|timesince }} ago</div>
        <div class='excerpt'>&#147;<span class='quote'>{{ comment.comment|truncatewords:"20" }}</span>&#148;</div>
        <span class='author'>By {{ comment.user.profile }}</span> on <span class='doc-title'><a href='{{ comment.document.get_absolute_url }}'>{{ comment.document.get_title }}</a></span>
    </div>
    {% endfor %}

</div>
</div>
<div style='clear: both; margin-bottom: 2em;'></div>
<div class='title-closing'>
    <h2>Join the conversation!</h2>
    <p>Head on over to the <a href='/blogs/'>blogs</a>.</p>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/slides.min.jquery.js"></script>
<script type="text/javascript">
    $(".slideshow").slides({
        preload: true,
        preloadImage: "{{ STATIC_URL }}img/spinner.gif",
        play: 5000,
        pause: 2500,
        hoverPause: true,
        animationStart: function(current) {
            $('.caption').animate({
                bottom: -35
            }, 100);
        },
        animationComplete: function(current) {
            $('.caption').animate({
                bottom: 0
            }, 200);
        },
        slidesLoaded: function() {
            $(".slideshow .pagination a").html("&bull;");
            $('.caption').animate({
                bottom: 0
            }, 200);
        }
    });
</script>
{% endblock %}
{% block nav_home_active %}active{% endblock %}
