<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Strike Against SOPA & PIPA</title>
		<meta property="og:title" content="Strike Against Sopa!">
		<meta property="og:description" content="Internet goes on strike — blackout everywhere. On Wed Jan 18, many of your favorites sites will be unavailable to you to stop web censorship. Call your congressperson today.">
		<meta property="og:image" content="http://sopastrike.com/images/newspaper-folded.jpg">
		<meta property="og:url" content="http://sopastrike.com/strike">
		<link rel="stylesheet" type="text/css" href="http://sopastrike.com/strike/strike.css">
        <style type='text/css'>
            h2.why {
                font-size: 20px;
            }
        </style>
		<script src="http://sopastrike.com/strike/jquery.js"></script>
		<script src="http://sopastrike.com/strike/jquery.placeholder.js"></script>
		<script type="text/javascript">
		
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-26978317-4']);
		_gaq.push(['_trackPageview']);
		
		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		
		$(document).ready(function() {
		    $('input[placeholder],textarea[placeholder]').placeholder();
		    if(document.referrer != "")
		    {
		    	$('#strike-topper').html("<p>The page <strong>"+document.referrer+"</strong> is on strike today to fight the Stop Online Piracy Act.</p>");
		    	$('#strike-topper').delay(500).slideDown();
		    }
		});
		
		</script>
	</head>
	<body>
		<div id="strike-topper"></div>
		<div id="strike-wrapper">
			<div>
				<img src="http://sopastrike.com/strike/strike-paper.jpg" width="570" height="350" id="paper">
                <h1>Today, <i>Between the Bars</i> is striking against censorship. <br /><strong>Join us in this historic moment:</strong><br /> tell Congress to stop these bills now!</h1>
                <h2 class='why'><i>Between the Bars</i> depends on a free, open Internet to function.  Laws in congress right now could make it impossible for us to continue to support the rights of people behind bars. <a href='http://news.betweenthebars.org/2012/01/how-sopa-would-hurt-us.html'>Read more about why we oppose SOPA and PIPA</a>.</h2>
                <br />
			</div>
			<form action="http://act.fightforthefuture.org/page/s/sopa-strike-modal" method="post">
				<div id="info">
					<input size="16" id="firstname" name="firstname" type="text"  placeholder="Name">
					<input type="email" class="text" size="48" id="email" name="email" placeholder="Email">
					
					<input size="48" id="addr1" name="addr1" type="text"  placeholder="Address">
					<input size="5" id="zip" name="zip" type="text"  placeholder="Zipcode">
					<button type="submit"><span>Write Congress Now!</span></button>
					<p style="margin-top: 20px; font-size: 16px;"><a href="http://americancensorship.org/modal/state-dept-petition/index.html">Not In The US? Petition The State Department.</a></p>
				</div>
				<div id="letter">
					<textarea id="custom-285" name="custom-285">I am writing to you as a voter in your district. I urge you to oppose the Senate version of S. 968, the PROTECT IP Act. The PROTECT IP Act is dangerous, ineffective, and short-sighted. The House version -- just introduced by Rep. Goodlatte -- is far worse.

Over coming days you'll be hearing from the many businesses, advocacy organizations, and ordinary Americans who oppose this legislation because of the myriad ways in which it will stifle free speech and innovation.  We hope you'll take our concerns to heart and oppose this legislation.
</textarea>
				</div>
				
			</form>
			
			<h1><a href="http://sopastrike.com/">Join The Strike!</a></h1>
			<p><strong>Learn More:</strong>
    <a href="http://fightforthefuture.org/pipa">Watch the video</a> &middot;
    <a href="http://americancensorship.org/">American Censorship page</a> &middot;
    <a href="http://americancensorship.org/infographic.html">View the Infographic</a> <br>
    <a href="http://www.opencongress.org/bill/112-h3261/show">Read SOPA on OpenCongress</a> &middot;
    <a href="http://www.opencongress.org/bill/112-s968/show">Read PIPA on OpenCongress</a>
			<p>Fight For The Future may contact you about future campaigns. <br>We will never share your email with anyone. <a href="http://fightforthefuture.org/privacy">Privacy Policy</a></p>
		</div>
		<script type="text/javascript">
		var _sf_async_config={uid:30346,domain:"sopastrike.com"};
		(function(){
		  function loadChartbeat() {
		    window._sf_endpt=(new Date()).getTime();
		    var e = document.createElement('script');
		    e.setAttribute('language', 'javascript');
		    e.setAttribute('type', 'text/javascript');
		    e.setAttribute('src',
		       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
		       "js/chartbeat.js");
		    document.body.appendChild(e);
		  }
		  var oldonload = window.onload;
		  window.onload = (typeof window.onload != 'function') ?
		     loadChartbeat : function() { oldonload(); loadChartbeat(); };
		})();

		</script>
	</body>
</html>
