/*
Syntax error: File to import not found or unreadable: common.
              Load paths:
                /home/tc1/git/btb/scanblog/static/css/sass
                /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets
                /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets
                Compass::SpriteImporter
        on line 8 of /home/tc1/git/btb/scanblog/static/css/sass/print.sass

Backtrace:
/home/tc1/git/btb/scanblog/static/css/sass/print.sass:8
/var/lib/gems/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/import_node.rb:64:in `import'
/var/lib/gems/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/import_node.rb:25:in `imported_file'
/var/lib/gems/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:148:in `visit_import'
/var/lib/gems/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/var/lib/gems/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/var/lib/gems/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/var/lib/gems/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/var/lib/gems/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/var/lib/gems/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/var/lib/gems/1.8/gems/sass-3.1.4/lib/sass/../sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.8/gems/sass-3.1.4/lib/sass/../sass/engine.rb:291:in `_render'
/var/lib/gems/1.8/gems/sass-3.1.4/lib/sass/../sass/engine.rb:238:in `render'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:140:in `compile'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:139:in `compile'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/logger.rb:45:in `red'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:138:in `compile'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:118:in `compile_if_required'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:103:in `run'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `each'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `run'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:100:in `run'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/commands/watch_project.rb:147:in `recompile'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/commands/watch_project.rb:95:in `perform'
/var/lib/gems/1.8/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `call'
/var/lib/gems/1.8/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `run_callback'
/var/lib/gems/1.8/gems/fssm-0.2.7/lib/fssm/path.rb:55:in `callback_action'
/var/lib/gems/1.8/gems/fssm-0.2.7/lib/fssm/path.rb:39:in `delete'
/var/lib/gems/1.8/gems/fssm-0.2.7/lib/fssm/state/directory.rb:32:in `deleted'
/var/lib/gems/1.8/gems/fssm-0.2.7/lib/fssm/state/directory.rb:31:in `each'
/var/lib/gems/1.8/gems/fssm-0.2.7/lib/fssm/state/directory.rb:31:in `deleted'
/var/lib/gems/1.8/gems/fssm-0.2.7/lib/fssm/state/directory.rb:16:in `refresh'
/var/lib/gems/1.8/gems/fssm-0.2.7/lib/fssm/backends/inotify.rb:12:in `add_handler'
/var/lib/gems/1.8/gems/rb-inotify-0.8.8/lib/rb-inotify/notifier.rb:200:in `call'
/var/lib/gems/1.8/gems/rb-inotify-0.8.8/lib/rb-inotify/notifier.rb:200:in `watch'
/var/lib/gems/1.8/gems/rb-inotify-0.8.8/lib/rb-inotify/watcher.rb:41:in `[]'
/var/lib/gems/1.8/gems/rb-inotify-0.8.8/lib/rb-inotify/watcher.rb:41:in `callback!'
/var/lib/gems/1.8/gems/rb-inotify-0.8.8/lib/rb-inotify/event.rb:128:in `callback!'
/var/lib/gems/1.8/gems/rb-inotify-0.8.8/lib/rb-inotify/notifier.rb:233:in `process'
/var/lib/gems/1.8/gems/rb-inotify-0.8.8/lib/rb-inotify/notifier.rb:233:in `each'
/var/lib/gems/1.8/gems/rb-inotify-0.8.8/lib/rb-inotify/notifier.rb:233:in `process'
/var/lib/gems/1.8/gems/rb-inotify-0.8.8/lib/rb-inotify/notifier.rb:216:in `run'
/var/lib/gems/1.8/gems/fssm-0.2.7/lib/fssm/backends/inotify.rb:20:in `run'
/var/lib/gems/1.8/gems/fssm-0.2.7/lib/fssm/monitor.rb:26:in `run'
/var/lib/gems/1.8/gems/fssm-0.2.7/lib/fssm.rb:20:in `monitor'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/commands/watch_project.rb:87:in `perform'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/commands/base.rb:18:in `execute'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/commands/project_base.rb:19:in `execute'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/var/lib/gems/1.8/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/var/lib/gems/1.8/gems/compass-0.12.1/bin/compass:29
/var/lib/gems/1.8/gems/compass-0.12.1/bin/compass:43:in `call'
/var/lib/gems/1.8/gems/compass-0.12.1/bin/compass:43
/usr/local/bin/compass:19:in `load'
/usr/local/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: common.\A               Load paths:\A                 /home/tc1/git/btb/scanblog/static/css/sass\A                 /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/blueprint/stylesheets\A                 /var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets\A                 Compass::SpriteImporter\A         on line 8 of /home/tc1/git/btb/scanblog/static/css/sass/print.sass"; }
