#tagpanel {
  position: fixed;
  right: 0;
  top: 2em;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid black;
  -webkit-box-shadow: 0 0 10px black;
  -moz-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  z-index: 1;
  padding: 1em;
  max-height: 90%;
  overflow: auto;
}
#tagpanel table td {
  vertical-align: top;
}
#tagpanel ul.tagit {
  max-width: 300px;
}

.success {
  background-color: #eeffff;
  border: 1px solid #9999ff;
  padding: 0.5em;
}

.warn {
  background-color: #ffffee;
  border: 1px solid #ff99ee;
  padding: 0.5em;
}
