{% load url from future %}
{% load i18n %}
<div class='blog-nav-bar'>
    <div class='subnav'>
        <a class='toggle {{ categories_open }}' href='{% url blogs.home %}'
	   data-target='.categories'>
	  {% trans "Categories" %}
	</a>
        <a class='toggle {{ posts_open }}' href='{% url blogs.home %}'
	   data-target='.recent'>
	  {% trans "Recent posts" %}
	</a>
        <a class='toggle {{ comments_open }}' href='{% url blogs.comments %}'
	   data-target='.comments'>
	  {% trans "Comments" %}
	</a>
        <a class='toggle {{ authors_open }}' href='{% url profiles.profile_list %}'
	   data-target='.authors'>
	  {% trans "Authors" %}
	</a>
        <a href='{% url blogs.page_picker %}' class='every-page'>
	  {% trans "Every Page" %}
	</a>
    </div>
    <div class='targets'>
        <div class='target categories tag-list {{ categories_open }}'>
        {% if tag_columns %}
            <div style='display: inline-block;'>
                <h3>{% trans "Posts by category" %}</h3>
                {% for column in tag_columns %}
                    <div class='column'>
                        <table>
                        {% for tag in column %}
                            <tr class='tag'><td>
                                <span class='count'>{{ tag.post_count }}</span>
                            </td><td>
                                <span class='name'><a href='{{ tag.url }}'>{{ tag.name|title }}</a></span>
                            </td></tr>
                        {% endfor %}
                        </table>
                    </div>
                {% endfor %}
            </div>
            {% if campaigns %}
                <div style='display: inline-block'>
                    <h3>{% trans "Campaigns" %}</h3>
                    <div class='column'>
                        <table>
                        {% for campaign in campaigns %}
                            <tr class='tag'><td>
                                <span class='count'>{{ campaign.reply_code.document_replies.safe.count }}</span>
                            </td><td>
                                <span class='name'><a href='{{ campaign.get_absolute_url }}'>{{ campaign.title }}</a></span>
                            </td></tr>
                        {% endfor %}
                        </table>
                    </div>
                </div>
            {% endif %}
            {% if affiliations %}
                <div style='display: inline-block'>
                    <h3>{% trans "Groups" %}</h3>
                    <div class='column'>
                        <table>
                        {% for affiliation in affiliations %}
                            <tr class='tag'>
                                <td><span class='count'>{{ affiliation.document_set.safe.count }}</span></td>
                                <td><span class='name'><a href='{{ affiliation.get_absolute_url }}'>{{ affiliation.title }}</a></span></td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        </div>
        <div class='target recent {{ posts_open }}'>
            <h3>{% trans "Recent posts" %}</h3>
            <ul class='bullets'>
                {% for post in recent_titles %}
                    <li><span class='date'>{{ post.date_written|date:"b d, Y" }}</span>
                        <a href='{{ post.get_absolute_url }}'>{{ post.get_title }}</a>, by {{ post.author.profile }}
                    </li>
                {% endfor %}
                <li class='all'><a href='{% url blogs.home %}'>
		    {% trans "All posts by date" %}
		</a></li>
            </ul>
        </div>
        <div class='target comments {{ comments_open }}'>
            <h3>{% trans "Recent comments" %}</h3>
            <ul class='bullets'>
                {% for comment in recent_comments %}
                <li><span class='date'>{{ comment.created|date:"b d, Y" }}:</span> <a href='{{ comment.document.get_absolute_url }}' class='comment-text'>&ldquo;{{ comment.comment|truncatewords:25 }}&rdquo;</a>
                <br />{% trans "on" %} <a href='{{ comment.document.get_absolute_url }}'>{{ comment.document.get_title }}</a> {% trans "by" %} {{ comment.document.author.profile }}</li>
                {% endfor %}
                <li class='all'><a href='{% url blogs.comments %}'>
		    {% trans "All comments" %}
		</a></li>
            </ul>
        </div>
        <div class='target authors {{ authors_open }}'>
            <h3>{% trans "Authors with recent posts" %}</h3>
            <ul class='bullets'>
                {% for author in recent_authors %}
                    <li><span class='date'>{{ author.latest_post|date:"b d, Y" }}</span>
                        <a href='{{ author.get_blog_url }}'>{{ author }}</a>
                        {% if author.has_public_profile %}
                            (<a href='{{ author.get_absolute_url }}'>{% trans "profile" %}</a>)
                        {% endif %}
                    </li>
                {% endfor %}
                <li class='all'><a href='{% url profiles.profile_list %}'>
		    {% trans "All authors" %}
		</a></li>
            </ul>
        </div>
    </div>
</div>
