<div class='blog-nav-bar'>
    <div class='subnav'>
        <a class='toggle {{ categories_open }}' href='{% url blogs.home %}' data-target='.categories'>Categories</a>
        <a class='toggle {{ posts_open }}' href='{% url blogs.home %}' data-target='.recent'>Recent posts</a>
        <a class='toggle {{ comments_open }}' href='{% url blogs.comments %}' data-target='.comments'>Comments</a>
        <a class='toggle {{ authors_open }}' href='{% url profiles.profile_list %}' data-target='.authors'>Authors</a>
        <a href='{% url blogs.page_picker %}' class='every-page'>Every Page</a>
    </div>
    <div class='targets'>
        <div class='target categories tag-list {{ categories_open }}'>
        {% if tag_columns %}
            <div style='display: inline-block;'>
                <h3>Posts by category</h3>
                {% for column in tag_columns %}
                    <div class='column'>
                        <table>
                        {% for tag in column %}
                            <tr class='tag'><td>
                                <span class='count'>{{ tag.post_count }}</span>
                            </td><td>
                                {% if tag.name %}
                                    <span class='name'><a href='{% url blogs.tagged_posts tag.name %}'>{{ tag.name|title }}</a></span>
                                {% else %}
                                    <span class='uncategorized'><a href='{% url blogs.tagged_posts %}'>Uncategorized</a></span>
                                {% endif %}
                            </td></tr>
                        {% endfor %}
                        </table>
                    </div>
                {% endfor %}
            </div>
            {% if campaigns %}
                <div style='display: inline-block'>
                    <h3>Campaigns</h3>
                    <div class='column'>
                        <table>
                        {% for campaign in campaigns %}
                            <tr class='tag'><td>
                                <span class='count'>{{ campaign.reply_code.document_replies.safe.count }}</span>
                            </td><td>
                                <span class='name'><a href='{{ campaign.get_absolute_url }}'>{{ campaign.title }}</a></span>
                            </td></tr>
                        {% endfor %}
                        </table>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        </div>
        <div class='target recent {{ posts_open }}'>
            <h3>Recent posts</h3>
            <ul class='bullets'>
                {% for post in recent_titles %}
                    <li><span class='date'>{{ post.date_written|date:"b d, Y" }}</span>
                        <a href='{{ post.get_absolute_url }}'>{{ post.get_title }}</a>, by {{ post.author.profile }}
                    </li>
                {% endfor %}
                <li class='all'><a href='{% url blogs.home %}'>All posts by date</a></li>
            </ul>
        </div>
        <div class='target comments {{ comments_open }}'>
            <h3>Recent comments</h3>
            <ul class='bullets'>
                {% for comment in recent_comments %}
                <li><span class='date'>{{ comment.created|date:"b d, Y" }}:</span> <a href='{{ comment.document.get_absolute_url }}' class='comment-text'>&ldquo;{{ comment.comment|truncatewords:25 }}&rdquo;</a>
                <br />on <a href='{{ comment.document.get_absolute_url }}'>{{ comment.document.get_title }}</a> by {{ comment.document.author.profile }}</li>
                {% endfor %}
                <li class='all'><a href='{% url blogs.comments %}'>All comments</a></li>
            </ul>
        </div>
        <div class='target authors {{ authors_open }}'>
            <h3>Authors with recent posts</h3>
            <ul class='bullets'>
                {% for author in recent_authors %}
                    <li><span class='date'>{{ author.latest_post|date:"b d, Y" }}</span>
                        <a href='{{ author.get_blog_url }}'>{{ author }}</a>
                        {% if author.has_public_profile %}
                            (<a href='{{ author.get_absolute_url }}'>profile</a>)
                        {% endif %}
                    </li>
                {% endfor %}
                <li class='all'><a href='{% url profiles.profile_list %}'>All authors</a></li>
            </ul>
        </div>
    </div>
</div>
