{% extends "blogs/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load public_url %}
{% trans "Recent Comments" as recent_comments %}
{% trans "More comments" as more_comments %}
{% block title %}Recent comments{% endblock %}
{% block body %}

<h1>{{ recent_comments }}</h1>

<div class='comment-list'>
{% for comment in page.object_list %}
    <div class='comment-list-item'>
        {% include "comments/_comment.html" %}
        {% with doc=comment.document %}
        <div class='comment-list-foot'>
          {% blocktrans with doc_url=doc.get_absolute_url doc_title=doc.get_title author_profile=comment.document.author.profile %}
          Posted on <a href='{{ doc_url }}'>{{ doc_title }}</a> by {{ author_profile }}
          {% endblocktrans %}
        </div>
            {% thumbnail doc.documentpage_set.all.0.image.path "100" as im %}
            <a href='{{ doc.get_absolute_url }}'>
              <img src='{{ im.url|public_url }}'
                    width='{{ im.x }}'
                    height='{{ im.y }}'
                    title='{{ doc.get_title }}'
                    alt='{{ doc.get_title }}' style='vertical-align: middle; margin-left: 1em; margin-bottom: 1em;'/>
            </a>
            {% endthumbnail %}
        </div>
        {% endwith %}
    </div>
{% endfor %}
</div>

{% if page.paginator.num_pages > 1 %}
    {{ more_comments }} :
    {% include "_pagination.html" %}
{% endif %}

<hr>

{% include "feeds/_subscriptions.html" %}
{% endblock %}
