{% extends "blogs/base.html" %}

{% block title %}Recent comments{% endblock %}
{% block body %}

<h1>Recent Comments</h1>

<div class='comment-list'>
{% for comment in page.object_list %}
    <div class='comment-list-item'>
        {% include "comments/_comment.html" %}
        <span class='comment-list-foot'>Posted on <a href='{{ comment.document.get_absolute_url }}'>{{ comment.document.get_title }}</a> by {{ comment.document.author.profile }}</em>
    </div>
{% endfor %}
</div>

{% if page.paginator.num_pages > 1 %}
    More comments:
    {% include "_pagination.html" %}
{% endif %}

<hr>

{% include "feeds/_subscriptions.html" %}
{% endblock %}
