{% extends "blogs/base_post_list.html" %}
{% load i18n %}
{% trans "by" as by %} 
{% block title %}
{% if author.profile.blog_name %}
    {{ author.profile.blog_name }} {{ by }} {{ author.profile.display_name }}
{% else %}
    {{ author.profile.display_name }}
{% endif %}
{% endblock %}
{% block heading %}
    {% if author.profile.blog_name %}
        <h1>{{ author.profile.blog_name }}</h1>
        {% trans "by" %} {{ author.profile.display_name }}
    {% else %}
        <h1>{{ author.profile.display_name }}</h1>
    {% endif %}
{% endblock %}


