{% extends "blogs/base_post_list.html" %}
{% load i18n %}
{% block title %}{% trans "Blogs from writers in prison" %}{% endblock %}
{% block subnav %}
    {% with categories_open="open" %}{{ block.super }}{% endwith %}
{% endblock %}
{% block heading %}
<h1>{% trans "Recent posts by date" %}
  {% if transcribed == "complete" %}
    ({% trans "transcribed" %})
  {% elif transcribed == "partial" %}
    ({% trans "partially transcribed" %})
  {% elif transcribed == "none" %}
    ({% trans "not transcribed" %})
  {% endif %}
</h1>
{% endblock %}
