{% extends "blogs/base.html" %}
{% block title %}Explore blogs{% endblock %}
{% block body %}

<h1>Find some blogs to read</h1>

<h3>Posts by category</h3>
<div class='tag-list'>
{% for column in tag_columns %}
    <div class='column'>
        {% for tag in column %}
            <div class='tag'>
                <span class='name'><a href='{% url blogs.tagged_posts tag.name %}'>{{ tag.name|title }}</a></span>
                <span class='count'>{{ tag.post_count }}</span>
            </div>
        {% endfor %}
    </div>
{% endfor %}
</div>
<div style='clear: both;'></div>

<div class='other-explore'>
    <h3>Other ways to explore:</h3>
    <ul class='bullets'>
        <li><a href='{% url blogs.recent %}'>Recent posts by date</a></li>
        <li><a href='{% url profiles.profile_list %}'>Posts by author</a></li>
        <li><em><a href='{% url blogs.page_picker %}'>every page at once</a>!</em></li>
    </ul>
</div>

{% include "blogs/_related.html" %}
    
{% endblock %}
