{% extends "blogs/base.html" %}
{% load i18n %}
{% block title %}{% trans "Delete post?" %}{% endblock %}
{% block body %}
    <p>
    {% blocktrans with post_title=post.get_title %}
    Delete the post <em>{{ post_title }}</em>
    and remove it from the site?
    This can't be undone.
    {% endblocktrans %}
    </p>

    <p>
    <form method='post' action=''>{% csrf_token %}
        <input type='submit' value='{% trans "Delete post" %}'>
    </form>
    </p>
    <p>
    <a href='{% url "blogs.edit_post" post.pk %}'>{% trans "Cancel" %}</a>
    </p>
{% endblock %}
