{% extends "blogs/base.html" %}
{% load humanize %}

{% block title %}{% trans "My posts" %}{% endblock %}

{% block body %}
    <a href='{% url blogs.edit_post %}'>&#9997; {% trans "Compose new post" %}</a>
    <table class='my-posts'>
        {% if posts %}
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Tags" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Date" %}</th>
                <th></th>
            </tr>
        {% endif %}
        {% for post in posts %}
            <tr {% if post.status == "unknown " %}class='draft'{% endif %}>
                <td><a class='edit-post' href='{% url blogs.edit_post post.pk %}'>{{ post.get_title }}</a></td>
                <td>{{ post.tags.all|join:", " }}</td>
                <td>
                    {% if post.status == "unknown" %}
                        {% trans "Draft" %}
                    {% endif %}
                    {% if post.status == "ready_to_publish" %}
                        {% trans "Ready to publish" %}
                    {% endif %}
                    {% if post.status == "published" %}
                        {% trans "Published" %}
                    {% endif %}
                    {% if post.status == "unpublishable" %}
                        {% trans "Can't be published" %}
                    {% endif %}
                </td>
                <td>{{ post.date_written|naturalday }}</td>
                <td>
                    {% if post.status == "published" %}
                        <a href='{{ post.get_absolute_url }}'>{% trans "View on site" %} &raquo;</a>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td>{% trans "No posts yet." %}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
