<!-- Templates -->
<script type='text/template' id="dashboard">
    <div class='dashboard'>
        <h1>{{ site.name }} backend</h1>
        <div style='float: left; width: 49%;'>
            <div class='scans'>
                <div class='scan-chooser'>
                    <span data-complete='0' class='needs-attention'>Unfinished</span
                        ><span data-complete='1' class='published'>Finished</span>
                </div>
                <h2>Scans</h2>
                <div class='open-scans'></div>
            </div>

            <div class='docs'>
                <div class='doc-chooser'>
                    <span data-status='unknown' class='needs-attention'>Needs attention</span
                        ><span data-status='ready' class='ready'>Ready to publish</span
                        ><span data-status='published' class='published'>Published</span>
                </div>
                <h2>Documents</h2>
                <div class='open-documents'></div>
            </div>
        </div>
        <div style='float: right; width: 49%;'>
            <div class='tickets'>
                <h2>Open Tickets</h2>
                <div class='open-tickets'>
                    <img src='{{ STATIC_URL }}img/spinner.gif' />
                </div>
            </div>
            <div class='mail'>
                <h2>Outgoing Mail</h2>
                <div class='outgoing-mail'>
                    <img src='{{ STATIC_URL }}img/spinner.gif' />
                </div>
            </div>
        </div>
    </div>
</script>
<script type='text/template' id="dashboardLetters">
    <div class='dashboard-letters'>
        <b>Enqueued</b>: <a href='#/mail'><%= enqueuedCount %></a><br />
        <b>Needed</b>
        <ul class='needed-list'></ul>
    </div>
</script>
<script type='text/template' id="dashboardLettersItem">
    <li><%= type %>: <%= count %></li>
</script>
