<script type='text/template' id='groupManagerTemplate'>
  <h1>Groups</h1>
  <div class='group-manager'>
    <div class='group-manager-row'>
      <div class='left-sidebar'>
        <div class='list-group'>
          <div class='org-list-view'></div>
          <div class='org-adder-view'></div>
        </div>
        <div class='list-group'>
          <div class='aff-list-view'></div>
          <div class='aff-adder-view'></div>
        </div>
        <div class='list-group'>
          <div class='camp-list-view'></div>
          <div class='camp-adder-view'></div>
        </div>
      </div>
      <div class='detail'></div>
    </div>
  </div>
</script>
<script type='text/template' id='groupAdderTemplate'>
  <div class='adder'>
    <a class='adder' href='#'>+ Add</a>
  </div>
</script>
<script type='text/template' id='groupListTemplate'>
  <h2><%= title %></h2>
  <ul>
    <% for (var i = 0; i < items.length; i++) { %>
      <li class='item' data-id='<%= items[i].id %>'><%= items[i].title %></li>
    <% } %>
  </ul>
</script>

<script type='text/template' id='organizationDetailTemplate'>
  <h2><%= name %></h2>

  <h3>Members</h3>


</script>
<script type='text/template' id='affiliationDetailTemplate'>Aff detail</script>
<script type='text/template' id='campaignDetailTemplate'>Camp detail</script>
