<!-- Pending Scans -->
<script type='text/template' id="pendingScanList">
    <div class='pending-scans'>
        <h1>Incoming Mail</h1>
        <p>The following letters have been received, but scans for them have not yet been processed.</p>
        <div class='pending-scans'>
            <div class='add'>
                <form>
                    <table>
                        <tr>
                            <th><label>Organization:</label></th>
                            <td>
                                <select class='orgs' name='org_id'>
                                    <% for (var i = 0; i < orgs.length; i++) { %>
                                        <option value='<%= orgs[i].id %>'>
                                            <%= orgs[i].name %>
                                        </option>
                                    <% } %>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><label>Add new letter:</label></th>
                            <td>
                                <div class='user-chooser-holder'>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class='pagination'></div>
            <div class='pending-scan-choices'>
                <span class='show-pending chosen'>Pending</span
                ><span class='show-missing'>Missing</span>
            </div>
            <table class='pending-scan-list results'>
                <tr>
                    <th>Received</th>
                    <th>Address</th>
                    <th>Remove?</th>
                    <th>Missing?</th>
                    <th>Code</th>
                </tr>
            </table>
            <div class='pagination'></div>
        </div>
    </div>
</script>
<script type='text/template' id="pendingScanItem">
    <tr class='item' style='clear: both'>
        <td><%= btb.formatDate(pendingscan.created) %></td>
        <td class='user-compact'></td>
        <td>
            <div class='remove remove-pending-scan'>
                <input type='hidden' value='<%= pendingscan.id %>' class='pending-scan-id' />
                <span class='ui-icon ui-icon-trash link-like'></span>
            </div>
        </td>
        <td>
            <input type='hidden' value='<%= pendingscan.id %>' class='pending-scan-id' />
            <% if (!pendingscan.scan_id) { %>
                <input type='checkbox' class='pending-scan-missing' 
                    <% if (pendingscan.completed) { %>
                        checked='checked'
                    <% } %>
                />
            <% } else { %>
                <a href='#/process/scan/<%= pendingscan.scan_id %>'>scan</a>
            <% } %>
        </td>
        <td class='reply-code'>
            <%= pendingscan.code %>
        </td>
    </tr>
</script>
<!-- /Pending Scans -->
