{% load i18n %}
<!-- Process -->

<script type='text/template' id="processManager">
    <h1>{% trans "Scans needing attention" %}</h1>
    <div class="process-scan-list">
    </div>
    <h1>{% trans "Documents needing attention" %}</h1>
    <div class="process-document-list">
    </div>
</script>
<script type='text/template' id="processItem">
    <li>
        <div class="date"><%= btb.formatDate(obj.created) %>
        <a class='delete-scan' href='{% url scanning.scan_delete %}<%= obj.id %>' title='{% trans "Delete scan" %}'><span class='ui-icon ui-icon-trash'></span></a>
        <a class='scan' href='<%= obj.edit_url %>'>
            <% if (obj.lock) { %>
                <span class='being-edited'>
                    {% blocktrans %}
		      <%= obj.lock.user.display_name %>
		      started editing
                      <%= btb.englishDateInterval(obj.lock.created, obj.lock.now) %>
		      ago.
                    {% endblocktrans %}
                </span>
            <% } %>
            <div class='img-holder'>
            <% if (obj.under_construction) { %>
                <img src="{{ STATIC_URL }}img/under_construction.gif" />
            <% } else if (!obj.pages || !obj.pages[0] || !obj.pages[0].image) { %>
                <img src="{{ STATIC_URL }}img/brokenns.gif" />
            <% } else { %>
                <img src="<%= obj.pages[0].image %>?thumbnail=100" />
            <% } %>
            </div>
            <div class="name"><%= obj.author ? obj.author.display_name : "" %></div>
        </a>
    </li>
</script>

<script type="text/template" id="splitScanEditLockWarning">
    <li>{% trans "Warning" %}: <b><%= name %></b> {% trans "started editing this scan <%= btb.englishDateInterval(created, now) %> ago.  You might hold up a bit so that your changes don't conflict." %}</li>
</script>

<script type="text/template" id="splitScan">
    <div class='split-scan'>
        <ul class='lock-warning'></ul>
        <h1>{% trans "Split Scan" %}</h1>
        <a href='<%= scan.pdf %>'>{% trans "Original (pdf)" %}</a>
        <div style='float: right;'>
            <a href='{% url scanning.scan_delete %}<%= scan.id %>'
                class='delete-scan'
                >{% trans "Delete scan" %}</a
            ><a href='{% url scanning.scan_replace %}<%= scan.id %>'
                class='replace-scan'
                >{% trans "Replace scan" %}</a
            ><a href='{% url scanning.scan_reimport %}<%= scan.id %>'
                class='reparse-scan'
                >{% trans "Re-parse scan" %}</a
            ><a href='{% url scanning.scan_merge %}<%= scan.id %>'
                class='merge-scan'
                >{% trans "Merge scans" %}</a
            >
        </div>
        <div style='clear: both;'></div>
        <ul>
        <% for (var i = 0; i < scan.pages.length; i++) { %>
            <li>
                <div class='page-line'>Page <%= i + 1 %> / <%= scan.pages.length %></div>
                <% var w = Math.min(scan.pages[i].image_dims[0], 900); %>
                <% var h = w / scan.pages[i].image_dims[0] * scan.pages[i].image_dims[1]; %>
                <div class='page-image page-<%= i %>' 
                     style='width: <%= w %>px; height: <%= h %>px;' >
                     <img src='<%= scan.pages[i].image %>?thumbnail=<%= w %>' width='<%= w %>' height='<%= h %>' />
                    <input type='hidden' name='page-index' value='<%= i %>'>
                </div>
            </li>
        <% } %>
        </ul>
        <div class='controls'>
            <div class="notes">
                <div class='note-manager'></div>
            </div>
            <div style='clear: both;'></div>
            <div style='float: right;' class='page-size-chooser'>
                <span class='small'>A</span
                ><span class='medium'>A</span
                ><span class='large chosen'>A</span>
            </div>

            <div class="choose-code">
                {% trans "Code" %}: 
                <input type='text' placeholder='{% trans "Scan Code" %}' 
                    <% if (scan.pendingscan_code) { %>
                        value='<%= scan.pendingscan_code %>'
                    <% } %>
                />
            </div>
            <div class="choose-user"><table><tr><td style='padding-right: 0.5em;'>{% trans "Author" %}:</td><td><div class='user-chooser-holder'></div></td></tr></table></div>
            <div class='page-scroller'>
                <% for (var i = 0; i < scan.pages.length; i++) { %>
                    <div class='pagestatus page-<%= i %>' id='status<%= scan.pages[i].id %>' title='Jump to page <%= i + 1 %>'>
                        <div class='overlay'></div>
                        <img src='<%= scan.pages[i].image %>?thumbnail=100' style='width: 100%; height: 100%;' />
                    </div>
                <% } %>
            </div>
            <div style='clear: both;'></div>
            <div class='page-flip'>
                <span class='current-page'></span>
                <span class='next'>&dArr;</span><span class='prev'>&uArr;</span>
            </div>
            <ul class='ignore-choice'></ul>
            <ul class='type-list'></ul><br />
            <span class='add-post'>{% trans "Post" %}</span><span class='add-photo'>{% trans "Photo" %}</span>
            <span style='float: right;'>
                <div class='post-save-message'></div>
                <span class='save'>{% trans "Save" %}</span><span class='switch-to-edit-documents'>{% trans "Edit documents" %} &raquo;</span>
            </span>
        </div>
    </div>
</script>
<script type="text/template" id="splitScanPageDocChoice">
    <span class='page-type-choice <%= chosen ? "chosen" : "" %>'>
        <input type='checkbox' <%| chosen ? "checked='checked'" : "" %> /> 
        <%= title %>
    </span>
</script>
