{% extends "moderation/base.html" %}
{% load i18n %}
{% block title %}{% trans "Manage tasks" %}{% endblock %}
{% block body %}
<script type='text/javascript'>
    function toggle_traceback(link) {
        var em = $(link).next();
        $(em).toggle();
    }
</script>
<style type='text/css'>
    .SUCCESS {
        color: green;
    }
    .FAILURE {
        color: red;
    }
    .STARTED {
        color: blue;
    }
    table {
        width: 100%;
    }
    th {
        background-color: #eee;
        border: 1px solid white;
    }
    th,td {
        padding: 0.5em;
        font-size: 12px;
    }
    td + td + td + td + td {
        font-family: monospace;
    }
</style>
<h1>{% trans "Tasks" %}</h1>
<div id='message'></div>
<small>
{% trans "Restrict to" %}: <a href='?status=PENDING'>{% trans "PENDING" %}</a> <a href='?status=SUCCESS'>{% trans "SUCCESS" %}</a> <a href='?status=FAILURE'>{% trans "FAILURE" %}</a>
</small>
<table style='position: relative;'>
    <tr>
        <th>{% trans "Link" %}</th>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Result" %}</th>
        <th>{% trans "Traceback" %}</th>
    </tr>
    {% for task in page.object_list %}
    <tr class='task' style='psoition: relative;'>
        <td><a href='{% url "moderation.wait_for_processing" task.task_id %}' title='{% trans "waiting page for task" %}'>{% trans "link" %}</a></td>
        <td>{{ task.date_done }}</td>
        <td>
            <span class='{{ task.status }}'>{{ task.status }}</span>
        </td>
        <td>{{ task.result }}</td>
        <td style='position: relative;'>
            {% if task.traceback %}
                <a href='#' onclick='toggle_traceback(this); return false;'>{% trans "Traceback" %}</a>
                <div style='position: relative; display: none;'>
                <div style='position: absolute; top: 0; right: 0; background-color: #fdd; white-space: pre; scroll: auto; z-index: 1;' class='traceback'>{{ task.traceback }}</div></div>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% if page.paginator.num_pages > 1 %}
{% for p in page.paginator.page_range %}
    {% if p == page.number %}
        {{ p }}
    {% else %}
        <a href='?page={{p}}&status={{status}}'>{{ p }}</a>
    {% endif %}
{% endfor %}
{% endif %}
{% endblock %}
