{% load thumbnail %}
{% load public_url %}
<!DOCTYPE html>
<html>
<head>
    <title>Page picker</title>
    <style type='text/css'>
        .page {
            border: 2px solid white;
        }
        .selected {
            border: 2px solid gold;
        }
        .images {
            width: 80%;
            position: absolute;
            left: 0;
            top: 0;
        }
        .selections {
            width: 20%;
            position: fixed;
            right: 0;
            top: 0;
        }
    </style>
</head>
<body>
<div class='images'>
    {% spaceless %}
    {% for page in pages %}
        {% thumbnail page.image.path "100" as im %}
            <img class='page' src='{{ im.url|public_url }}' width='{{ im.x }}' height='{{ im.y }}' data-document-id='{{ page.document_id }}' data-page-id='{{ page.pk }}' />
        {% endthumbnail %}
    {% endfor %}
    {% endspaceless %}
</div>
<div class='selections'>
    Document page IDs: <textarea id='document_page_ids'></textarea>
    <input id='readpageids' type='button' value='Read page IDs' />
    Document IDs: <textarea id='document_ids'></textarea>
</div>

<script type='text/javascript' src='{{ STATIC_URL }}js/vendor/jquery.min.js'></script>
<script type='text/javascript'>
    function removeA(arr){
        var what, a= arguments, L= a.length, ax;
        while(L> 1 && arr.length){
            what= a[--L];
            while((ax= arr.indexOf(what))!= -1){
                arr.splice(ax, 1);
            }
        }
        return arr;
    }

    var document_ids = [];
    var document_page_ids = [];
    $("#readpageids").click(function() {
        document_page_ids = $("#document_page_ids").val().split(",");
        for (var i = 0; i < document_page_ids.length; i++) {
            $("[data-page-id=" + document_page_ids[i] + "]").addClass("selected");
        }
    });
    $(".page").click(function() {
        $(this).toggleClass("selected");
        var doc_id = $(this).attr("data-document-id");
        var doc_page_id = $(this).attr("data-page-id");
        if ($(this).hasClass("selected")) {
            if ($.inArray(doc_id, document_ids) == -1) {
                document_ids.push(doc_id);
            }
            if ($.inArray(doc_page_id, document_page_ids) == -1) {
                document_page_ids.push(doc_page_id);
            }
        } else {
            removeA(document_ids, doc_id);
            removeA(document_page_ids, doc_page_id);
        }
        $("#document_page_ids").val(document_page_ids.join(','));
        $("#document_ids").val(document_ids.join(','));
    });
</script>
</body>
</html>
