{% extends "moderation/base.html" %}
{% load compress %}
{% block title %}Tag Party!{% endblock %}
{% block css %}
    {% compress css %}
    <link rel="stylesheet" type='text/css' href="{{STATIC_URL}}css/tagparty.css" />
    {% endcompress %}
{% endblock %}

{% block body %}
    <div id='tagpanel'></div>
    <div id='doc'></div>
{% endblock %}

{% block scripts %}
    <script type='text/template' id='tagpanelTemplate'>
        <form class='tagparty'>
            <table>
                <tr>
                    <td>
                        Tags:
                    </td>
                    <td>
                        <ul class='chosen-tags'>
                            <% for (var i = 0; i < chosen.length; i++) { %>
                                <li><%= chosen[i] %></li>
                            <% } %>
                        </ul>
                    </td>
                    <td>
                        <input type='submit' value='Save' class='save-post-button' />
                    </td>
                    <td><div class='status'></div></td>
                    <td><a href=''>Next&nbsp;&raquo;</a></td>
                </tr>
            </table>
            <table class='possible-tags'>
                <tr>
                    <td><ul>
                        <% for (var i = 0; i < possible.length; i++) { %>
                            <li>
                                <a href='#' class='tag<%= possible[i].chosen ? " chosen": "" %>'
                                    ><%= possible[i].name %></a>
                            </li>
                        <% } %>
                    </ul></td>
                </tr>
            </table>
        </form>
    </script>
    {% compress js %}
    <script type='text/javascript' src='{{STATIC_URL}}js/vendor/jquery-ui.min.js'></script>
    <script type='text/javascript' src='{{STATIC_URL}}js/vendor/jquery-tagit/js/tagit.js'></script>
    <script type='text/javascript' src='{{STATIC_URL}}js/vendor/underscore-min.js'></script>
    <script type='text/javascript' src='{{STATIC_URL}}js/vendor/backbone-min.js'></script>

    <script type='text/javascript' src='{{STATIC_URL}}js/moderation/tagparty.js'></script>
    <script type='text/javascript'>
        new btb.TagForm({
            tags: [
                {% for tag in tags %}
                { "name": "{{ tag.name }}" }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]
        }).render();
    </script>
    {% endcompress %}
{% endblock %}
