{% extends "notification/base.html" %}
{% load pagination_tags %}

{% block title %}Notifications{% endblock %}

{% block body %}
{% autopaginate notices 10 %}

<div class='notices'>
    <a href='{% url subscriptions.settings %}'>Subscriptions and communication preferences</a>
    <h1>Notifications</h1>
    {% if notices %}
        <a href="{% url notification_mark_all_seen %}">Mark all as read</a>
        <table>
            <tr>
                <th>Date</th>
                <th>Message</th>
            </tr>
            {% for notice in notices %}
                <tr class='notice {% if notice.unseen %}unseen{% endif %}'>
                    <td>
                        {{ notice.added|date:"Y b j" }}
                        <input class='notice-id' type='hidden' value='{{ notice.id }}' />
                    </td>
                    <td>{{ notice.message|safe }}</td>
                    <td>
                        <a href='#' class='delete-notice'>delete</a>&nbsp;
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% paginate %}

        <p style='margin-top: 3em;'>
        <a href="#" class='delete-all-notices'>Delete all messages</a>
        </p>
    {% else %}
        <p>No notifications.</p>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script type='text/javascript'>
var seen_url = "{% url notification_ajax_set_notice_seen 0 %}";
var delete_url = "{% url notification_ajax_delete_notice 0 %}";
$("tr.notice.unseen").click(function() {
        var row = this;
        var id = $(row).find(".notice-id").val();
        $.post(
            seen_url.replace("0", id), {}, function(data) {
                $(row).toggleClass("unseen", data.unseen);
            }
        );
        // propagate click in case it's a link
        return true;
});
$(".delete-notice").click(function() {
        var row = $(this).parent().parent();
        var id = $(row).find(".notice-id").val();
        $.post(
            delete_url.replace("0", id), {}, function(data) {
                $(row).remove();
            }
        );
        return false;
});
$(".delete-all-notices").click(function() {
        $.post("{% url notification_ajax_delete_all_notices %}", {}, function(data) {
            $("tr.notice").remove();
        });
        return false;
});
</script>
{% endblock %}

