{% extends "moderation/base.html" %}
{% load compress %}
{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-sass" href="{{STATIC_URL}}css/moderation.sass" />
    {% endcompress %}
{% endblock %}
{% block title %}Recent scans {% endblock %}
{% block body %}
<h1>Recent Scans</h1>
{% load thumbnail %}
<div class='recentscans'>
  {% for item in items %}
    {% ifchanged item.scan.id %}
      {% if forloop.counter0 > 0 %}
      </div> <!-- class='scan' -->
      {% endif %}
      <div class='scan'>
        <div class='author'>
          {% if item.scan.processing_complete %}
            <span class='success'>&check;</span>
          {% else %}
            <span class='error'>&times;</span>
          {% endif %}
          <a href='{{ item.scan.author.profile.get_edit_url }}'>{{ item.scan.author.profile }}</a>
          <span class='date'><a href='{{ item.scan.get_edit_url }}'>&#x270e; {{ item.scan.created|date:"Y b j" }}</a></span>
          {{ item.scan.source_id }}
        </div>
    {% endifchanged %}
    <span class='page'>
      <a href='{{ item.page.image.url }}' target='_blank'>
        {% if item.first %}
          <img class='scanpage' src='{{ item.page.image.url }}?thumbnail=300' />
        {% else %}
          <img class='scanpage' src='{{ item.page.image.url }}?thumbnail=100' />
        {% endif %}
      </a>
      <div class='documents'>
        {% for document in item.documents %}
        <a class='document {{document.type}}' href='{{ document.get_edit_url }}'>{{ document.type }} {{ document.status }} {{ document.pk }}</a>
        {% endfor %}
      </div>
    </span>
      {% if item.has_more %}
        <span class='page' style='height: 100px; width: 78px;'>
          <div class='documents'>
            <a href='{{ item.scan.get_edit_url }}'>More...</a>
          </div>
        </span>
      {% endif %}
  {% endfor %}
  </div> <!-- class='scan' -->
</div> <!-- class='scans' -->
{% endblock %}
