{% extends "moderation/base.html" %}
{% load i18n %}
{% block title %}{% trans "Reimport scan" %}{% endblock %}
{% block body %}
    <h1>{% trans "Reimport scan" %}</h1>
    <p>{% trans "If processing of a scan failed for whatever reason, sometimes reimporting it will fix garbled or missing images.  This will make any documents associated with this scan unavailable until the import is finished." %}</p>
    <form method='post' action=''>{% csrf_token %}
        <input type='submit' value='{% trans "Reimport scan" %}' />
    </form>
    
{% endblock %}
