{% extends "site_base.html" %}
{% load i18n %}
{% block nav_upload_active %}active{% endblock %}
{% trans "Upload scans" as upload_scans %}
{% block title %}{{ upload_scans }} {% endblock %}
{% block body %}
    <h1>{% trans "Upload Scans" %}</h1>
    <p>{% trans "Upload individual PDF files, or zip files containing multiple PDFs." %}</p>
    <form enctype="multipart/form-data" method="post" action="">{% csrf_token %}
        {{ form }}
        <p><input type='submit' value='{% trans "Upload" %}' class='upload-submit' /></p>
    </form>
{% endblock %}

