{% load humanize %}
{% load scanning_text_diffs %}
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
<style type='text/css'>
    body, p, div, span, td, th, h1, h2 {
        font-family: sans-serif;
    }
</style>
</head>
<body>
<h1>BtB Comment/Transcription report</h1>
{% if transcriptions %}
    <h2>Transcriptions ({{ transcriptions|length }})</h2>
    {% for transcription, revs in transcriptions %}
    {% with doc=transcription.document %}
    <span><a href='{{ doc.get_absolute_url }}'>{{ doc.type }}: {{ doc.get_title }}</a> by {{ doc.author.profile }}</span> <span style='color: #999;'>(uploaded {{ doc.date_written|naturalday }})</span>. <a href='https://{{ site.domain }}{% url scanning.transcribe_document doc.pk %}'>edit transcription</a>, <a href='http://{{ site.domain }}{{ doc.get_absolute_url }}'>view document</a>, <a href='http://{{ site.domain }}{% url scanning.revision_list doc.pk %}'>full diff</a>.
    <table style='border: 1px solid #ddd; width: 100%;'>
        <tr>
            {% for prev,cur in revs %}
                <td>
                    By {{ cur.editor }}, {{ cur.modified|naturalday }} {{ cur.modified|date:"P" }}
                    (<a href='http://{{ site.domain }}/admin/auth/user/{{ cur.editor.id }}/'>edit user</a>, 
                    <a href='http://{{ site.domain }}/admin/auth/user/{{ cur.editor.id }}/delete'>delete user</a>)
                </td>
            {% endfor %}
        </tr>
        <tr>
            {% for prev,cur in revs %}
                <td style='border: 1px solid #ddd; background-color: #ffe;'>
                    {% if prev %}
                        {% column_diff prev.body cur.body %}
                    {% else %}
                        {{ cur.body|linebreaksbr }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    </table>
    {% endwith %}
    {% endfor %}
{% endif %}
{% if comments %}
    <h2>Comments</h2>
    {% for comment in comments %}
    {% with doc=comment.document %}
        <span><b>{{ comment.user.profile }}</b> {{ comment.modified|naturalday }} {{ comment.modified|date:"P" }}
            on
            <a href='http://{{ site.domain }}{{ comment.get_absolute_url }}'
              >{{ doc.get_title }}</a>

            (<a href='http://{{ site.domain }}/admin/comments/comment/{{ comment.id }}/'>edit comment</a>,
             <a href='http://{{ site.domain }}/admin/auth/user/{{ comment.user.id }}/'>edit user</a>,
             <a href='http://{{ site.domain }}/admin/auth/user/{{ comment.user.id }}/delete'>delete user</a>)</span><br />
        <table><tr><td style='background-color: #ffe'>
            {{ comment.comment|linebreaksbr }}
        </td></tr></table>
    {% endwith %}
    {% endfor %}
{% endif %}
</body>
</html>
