{% extends "site_base.html" %}
{% load url from future %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}

{% block body %}
<div style='float: left; width: 50%;' class='login-form'>
<h2>{% trans "Have an account?  Login" %}</h2>
<form action='' method='post'>{% csrf_token %}
    <table>
        {{ form }}
        <tr><td></td><td><input type='submit' value="{% trans 'Login' %}" /></td></tr>
    </table>
</form>
<p><a href='{% url "auth_password_reset" %}'>{% trans "Forgot your password?" %}</a></p>
</div>
<div style='float: left; width: 40%;' class='register-form'>
    <h2>
      {% blocktrans %} 
      New to {{ site.name }}?  Sign up
      {% endblocktrans %}
    </h2>
    <p>
      {% url "about.terms" as url_terms %}
      {% url "about.privacy" as url_privacy %}
        {% blocktrans %}
	Registered users can leave comments and transcribe posts.  By
        registering, you are agreeing to the
        <a href='{{ url_terms }}'>Terms of Service</a> and
        <a href='{{ url_privacy }}'>Privacy Policy</a>.
	{% endblocktrans %}
    </p>

    <form action='{% url "registration_register" %}' method='post'>{% csrf_token %}
        <table class='form'>
            {{ reg_form }}
            <tr>
	      <td></td>
	      <td>
		<input type='submit' value="{% trans 'Register' %}" />
	      </td>
	    </tr>
        </table>
    </form>

    </div>
{% endblock %}

{% block scripts %}
<script type='text/javascript'>
    var check_username;
    $("#regid_username").bind("keyup", function() {
        var username = $(this).val();
        if (check_username) {
            clearTimeout(check_username);
        }
        $("#regid_username").parent().find(".info").remove();
        if (username.length > 3) {
            check_username = setTimeout(function() {
                $.get("{% url "accounts.check_username_availability" %}", {
                        'username': username,
                    }, function(data, textStatus, jqXHR) {
                        if (data.result === "taken") {
                            $("#regid_username").addClass("error");
                            $("#regid_username").after("<span class='info'>{% trans "Sorry, that name is taken." %}</span>");
                        } else if (data.result === "available") {
                            $("#regid_username").removeClass("error");
                            $("#regid_username").after("<span class='info'>{% trans "Name available." %}</span>");
                        }
                    }
                );
            }, 100);
        }
    });
</script>
{% endblock %}
