{% extends "site_base.html" %}
{% load i18n %}

{% block body %}
<h2>%{ trans "Change password for" %} {{ change_user.profile }}</h2>
{% ifequal change_user user %}
{% blocktrans %}
<p>%{ trans "For security purposes, enter your old password first." %}</p>
{% endblocktrans %}
{% endifequal %}
<form action='' method='post'>{% csrf_token %}
    <table class='form'>
        {{ form }}
        <tr><td></td><td><input type='submit' value='{% trans "Change Password" %}' /></td></tr>
    </table>
</form>
{% endblock %}
